body { margin: 0px; }
.subtitle { color: #1F5BA4; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12pt; }
.EmailBold { font-weight: bold; }
.EmailItalic { font-style: italic; }
.font-family { font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 10pt; }
.font-SizeNormal { font-size: 12pt; }
.color_grey { color: #999; font-size: 9pt; }
.color_blue { color: #1F5BA4; }
.padding-bottom-15 { padding-bottom: 15px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-5 { padding-bottom: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-top-10 { padding-top: 10px; }
.padding-left-5 { padding-left: 5px; }

/**** buttons ****/
a.btn { font-family: 'myriad-pro', Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: 600; letter-spacing: 1px; display: inline-block; *display: inline; padding: 4px 12px; margin-bottom: 0; *margin-left: .3em; font-size: 14px; line-height: 20px; *line-height: 20px; color: #333333; text-align: center; vertical-align: middle; cursor: pointer; background-color: #f5f5f5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; *zoom: 1; text-decoration: none; }
a.btn:hover, a.btn:active { color: #333333; background-color: #e6e6e6; }
a.btn:first-child { *margin-left: 0; }
a.btn-large { padding: 6px 12px; font-size: 12px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
a.btn-big { padding: 12px 20px; font-size: 12px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
a.btn-medium { padding: 6px 20px; font-size: 11px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a.btn-small { padding: 4px 15px; font-size: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a.btn-mini { padding: 1px 10px; font-size: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a.btn.blue { color: #fff; background-color: #69c; }
a.btn.blue:hover { background-color: #4673A7; color: #fff; }
a.btn.red { color: #fff; background-color: #c30; }
a.btn.red:hover { background-color: #AD1F02; color: #fff; }
a.btn.gray { color: #606060; background-color: #E6E7E8; }
a.btn.gray:hover { background-color: #ccc; color: #606060; }