.forums-espace {
}
.forums-espace .processingUpload {
    display: inline-block;
    padding: 3px 0 0 4px;
    font-size: 12px;
}
.forums-espace .disable {
    pointer-events: none;
    cursor: default;
    opacity: 0.9;
}
.forums-espace .archived {
    background-color: lightgray;
    color: black;
}
.forums-espace .rss, .forums-espace .diggest {
    background: url(/forums/img/spriteicons.png) no-repeat;
    padding-left: 20px;
}
.forums-espace .rss {
    background-position: 0px -43px;
}
.forums-espace .rss:hover {
    background-position: 0px -66px;
}
.forums-espace .diggest {
    background-position: 0px 2px;
}
.forums-espace .diggest:hover {
    background-position: 0px -20px;
}
.forums-espace .processingUpload {
    display: inline-block;
    padding: 3px 0 0 4px;
    font-size: 12px;
}
.forums-espace .disable {
    pointer-events: none;
    cursor: default;
    opacity: 0.9;
}
.forums-espace .archived {
    background-color: lightgray;
    color: black;
}
.forums-espace .processingUpload {
    display: inline-block;
    padding: 3px 0 0 4px;
    font-size: 12px;
}
.forums-espace .disable {
    pointer-events: none;
    cursor: default;
    opacity: 0.9;
}
.forums-espace .archived {
    background-color: lightgray;
    color: black;
}
.forums-espace .rss, .forums-espace .diggest {
    background: url(/forums/img/spriteicons.png) no-repeat;
    padding-left: 20px;
}
.forums-espace .rss {
    background-position: 0px -43px;
}
.forums-espace .rss:hover {
    background-position: 0px -66px;
}
.forums-espace .diggest {
    background-position: 0px 2px;
}
.forums-espace .diggest:hover {
    background-position: 0px -20px;
}