.homeIpp-espace .ippCard {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #e6e6e6;
  padding: 20px 0 20px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.homeIpp-espace .ippThankYou {
    margin-top: 20px;
    text-align: justify;
}