.home-espace .HeaderLinksGotFeedback, .home-espace .box .title, .home-espace .buttons {
  text-transform: uppercase
}
.home-espace .Tabs_Header a, .home-espace .Tabs_Header span {
  font-size: 12.5px
}


.home-espace .searchContainer {
    margin-top: -40px;
}
.home-espace .inpage-search-search-wrapper {
    margin-top: -25px;
}


.home-espace div.Tabs_TabOff, .home-espace li.Tabs_TabOff {
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  padding: 8px 0 0 8px;
  background: #AAA;
  color: #FFF;
  height: 35px;
  border-top-left-radius: 5px;
  margin-right: 13.6px;
  border: none
}
.home-espace div.Tabs_TabOff:after, .home-espace li.Tabs_TabOff:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 35px;
  background: #AAA;
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
  top: 0;
  right: -10px;
  border-radius: 0 5px 0 0
}
.home-espace a.Tabs_TabOff, .home-espace a.Tabs_TabOff:link, .home-espace a.Tabs_TabOff:visited {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #FFF;
  padding: 0 10px;
  background: 0 0
}
.home-espace a.Tabs_TabOff:hover {
  background: 0 0
}
.home-espace div.Tabs_TabOn, .home-espace li.Tabs_TabOn {
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  padding: 8px 0 0 8px;
  background: #FFF;
  color: #333;
  height: 35px;
  border-top-left-radius: 5px;
  margin-right: 13.6px
}
.home-espace div.Tabs_TabOn:after, .home-espace li.Tabs_TabOn:after {
  position: absolute;
  width: 13px;
  transform: skew(10deg);
  top: -1px;
  right: -10px;
  border-radius: 0 5px 0 0;
  background: #FFF;
  border-top: 1px solid #ccc;
  border-left: 0 solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 0;
  -webkit-backface-visibility: hidden
}
.home-espace .NavTab:after, .home-espace div.Tabs_TabOn:after, .home-espace li.Tabs_TabOn:after {
  content: '';
  height: 35px;
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg)
}
.home-espace a.Tabs_TabOn, .home-espace a.Tabs_TabOn:hover, .home-espace a.Tabs_TabOn:link, .home-espace a.Tabs_TabOn:visited, .home-espace span.Tabs_TabOn {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #333;
  padding: 0 10px;
  background: 0 0
}
.home-espace .Tabs_TabBody {
  margin: 30px 0 0;
  padding: 10px 0;
  border: 1px solid #ccc
}
.home-espace .partners-download-doc-filter {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px
}
.home-espace .partners-download-doc-filter input[type=checkbox] {
  margin: 0 30px 0 10px;
  line-height: normal;
  cursor: pointer
}
.home-espace .button-isotype {
  display: inline-block;
  padding: 1px 15px;
  background: #aaa;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: myriad-pro;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px
}
.home-espace .button-isotype:hover {
  background-color: gray;
  color: #fff;
  text-decoration: none
}
.home-espace .AlertAction:hover, .home-espace a.terms-link {
  text-decoration: underline
}
.home-espace .button-isotype.is-checked, .home-espace .button-isotype:active {
  background-color: #c20
}
.home-espace .button-isotype.is-checked {
  color: #fff
}
.home-espace .button-isotype:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, .8)
}
.home-espace .NavTab {
  font-family: Arial, sans-serif;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 5px 0 10px;
  background: #AAA;
  color: #FFF;
  height: 35px;
  margin-top: 15px;
  border-top-left-radius: 5px
}
.home-espace .NavTab:after {
  position: absolute;
  width: 10px;
  background: #AAA;
  transform: skew(10deg);
  top: 0;
  right: -6px;
  border-radius: 0 5px 0 0
}
.home-espace .NavTab.Active, .home-espace .NavTab.Active:after {
  height: 50px;
  background: #FFF
}
.home-espace .NavTab .Icon [class*=fa], .home-espace .NavTab .Icon [class^=osicon] {
  width: 5%;
  font-size: 20px
}
.home-espace .NavTab.Download .Icon {
  margin-top: 1px
}
.home-espace .NavTab.Download .Icon [class*=fa], .home-espace .NavTab.Download .Icon [class^=osicon], .home-espace .NavTab.Download.Active .Icon [class*=fa], .home-espace .NavTab.Download.Active .Icon [class^=osicon] {
  width: 5%;
  font-size: 16px
}
.home-espace .NavTab.Active.Download .EnvironmentInfo, .home-espace .NavTab.Download .EnvironmentInfo {
  width: 70% !important
}
.home-espace .NavTab .EnvironmentInfo {
  width: 85%;
  margin-left: 10px
}
.home-espace .NavTab.Trial .EnvironmentInfo {
  width: 235px
}
.home-espace .NavTab.Active.Trial .EnvironmentInfo {
  width: 260px
}
.home-espace .NavTab:not(.Active) .EnvironmentInfo {
  margin-top: 2px
}
.home-espace .NavTab.Active .EnvironmentInfo.Label {
  margin-top: 6px
}
.home-espace .NavTab .InfrastructureNameWrapper {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
.home-espace .InfrastructureName {
  font-weight: 600
}
.home-espace .NavTab .TopSection {
  display: none
}
.home-espace .NavTab .InfrastructureType {
  width: 70%;
  font-size: 12px;
  color: grey;
  margin-top: 1px
}
.home-espace .NavTab .DaysLeft {
  width: 28%;
  font-size: 10px;
  color: #C61F00;
  font-weight: 600;
  margin-top: 1px
}
.home-espace .NavTab.Active {
  padding: 11px 5px 0 10px;
  color: #333;
  margin-top: 0
}
.home-espace .NavTab.Active .TopSection {
  display: block;
  line-height: 1
}
.home-espace .NavTab.Active .Icon {
  margin-top: 5px
}
.home-espace .desktop-resizable {
  display: inline-block !important
}
.home-espace .ippCard {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #e6e6e6;
  padding: 20px 0 20px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.home-espace .ippThankYou {
    margin-top: 20px;
    text-align: justify;
}
@media (max-width:967px) {
  .home-espace .desktop-resizable .NavTab.Download, .home-espace .desktop-resizable .NavTab.Download.Active {
    display: none
  }
  .home-espace .NavTab.Active .EnvironmentInfo {
    width: 80% !important
  }
  .home-espace .NavTab .EnvironmentInfo {
    width: 185px
  }
  .home-espace .NavTab .EnvironmentInfo.Label {
    font-size: 12px
  }
  .home-espace .NavTab .InfrastructureType {
    width: 100%
  }
}
@media (max-width:767px) {
  .home-espace .NavTab .Download, .home-espace .NavTab.Active .TopSection, .home-espace .NavTab:not(.Active) .EnvironmentInfo {
    display: none
  }
  .home-espace .NavTab.Active .EnvironmentInfo {
    margin-top: 6px;
    width: 80%
  }
  .home-espace .NavTab .EnvironmentInfo {
    margin-top: 0
  }
  .home-espace .span2.desktop-resizable, .home-espace .span3.desktop-resizable, .home-espace .span4.desktop-resizable {
    width: auto
  }
  .home-espace .NavTab {
    width: 45px
  }
  .home-espace .NavTab.Active {
    width: 160px
  }
}
.home-espace .MySubscriptions {
  color: #103E65;
  cursor: pointer
}
.home-espace .SubscriptionName {
  max-width: 134px;
  text-overflow: ellipsis;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap
}
.home-espace .SubscriptionTextMarginRight {
  margin-right: 10px
}
.home-espace .SubscriptionColors {
  color: #333;
  background-color: #FFF
}
.home-espace .SubscriptionIcon {
  border-right: 1px solid #fff;
  width: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px
}
.home-espace .TrialHeaderBackground {
  background-color: #FFF;
  width: 265px;
  height: 50px
}
.home-espace .PersonalEnvironmentTextNotSelected {
  display: none
}
.home-espace .HomeIcon.Trial {
  color: #333
}
.home-espace .TrialDropdownIcon {
  font-size: 20px;
  color: #FFF
}
.home-espace .DaysLeft {
  font-size: 12px
}
.home-espace .NavTab.Active .TrialDropdownIcon {
  position: absolute;
  color: #CCC;
  top: 20px;
  right: 10px
}
.home-espace .SubscriptionsPosition .ListRecords a:not(:last-child)>div {
  border-bottom: 1px solid #CCC
}
.home-espace .AbsoluteEnvironments, .home-espace .AbsoluteSubscriptions {
  position: absolute
}
.home-espace .SubscriptionsPosition {
  position: absolute;
  top: 122px;
  z-index: 9999;
  border: 1px solid #ccc;
  width: 311px;
  background: #FFF;
  padding: 5px 0
}
.home-espace .SubscriptionsPosition:before {
  border-bottom-color: #103E65;
  border-width: 8px;
  margin-left: -7px
}
.home-espace .SubscriptionsPosition:after {
  border-bottom-color: #103E65;
  border-width: 6px;
  margin-left: -5px
}
.home-espace .BoxMargins, .home-espace .DisclaimerStyle {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px
}
.home-espace .MySubscriptionsBottomBorders {
  border-bottom: 1px solid #CCC
}
.home-espace .MySubscriptionsTopBorders {
  border-top: 1px solid #87B7E4
}
@media (max-width:967px) {
  .home-espace .NavTab.Trial.Active .DaysLeft {
    display: none !important
  }
  .home-espace .NavTab.Trial.Active .InfrastructureNameWrapper {
    width: 90%
  }
  .home-espace .NavTab.Trial.Active .EnvironmentInfo {
    width: 185px !important
  }
  .home-espace .NavTab.Trial.Active .InfrastructureType {
    width: 100%
  }
  .home-espace .TrialDropdownIcon {
    display: none
  }
}
@media (max-width:767px) {
  .home-espace .NavTab.Trial.Active .EnvironmentInfo {
    width: 117px !important
  }
  .home-espace .NavTab.Trial.Active .InfrastructureNameWrapper {
    width: 100%
  }
  .home-espace .TrialDropdownIcon {
    display: none
  }
  .home-espace .input-prepend.input-append {
    white-space: normal
  }
}
.home-espace .MarginBottom {
  margin-bottom: 10px
}
.home-espace .DisclaimerStyle {
  float: left
}
.home-espace .EditRecord_Caption {
  width: 13%
}
.home-espace .BoxBottomMargin {
  margin-bottom: 20px;
  margin-right: 30px
}
.home-espace .AlreadyTitle {
  font-size: 20px;
  font-weight: 700
}
.home-espace .EmailText {
  font-size: 20px
}
.home-espace .body {
  background-color: #e6e6e6
}
.home-espace .InputLabel {
  width: 18%
}
.home-espace .InputAlign {
  text-align: center
}
.home-espace .CustomerInfoPopupBackground {
  width: 500px
}
.home-espace .email-label-style {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  display: inline-block
}
@media (max-width:767px) {
  .home-espace .desktop-resize-fix.BrowseAppBox, .home-espace .desktop-resize-fix.CreatAppBox, .home-espace .desktop-resize-fix.ManageAppBox {
    position: relative;
    width: 50px !important;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA;
    height: 30px;
    cursor: pointer
  }
  .home-espace .desktop-resize-fix.BrowseAppBox.Active, .home-espace .desktop-resize-fix.CreatAppBox.Active, .home-espace .desktop-resize-fix.ManageAppBox.Active {
    position: relative;
    width: 50px !important;
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF;
    height: 30px;
    cursor: pointer
  }
  .home-espace .desktop-resize-fix.BrowseAppBoxIcon, .home-espace .desktop-resize-fix.CreatAppBoxIcon, .home-espace .desktop-resize-fix.ManageAppBoxIcon {
    font-size: 18px
  }
}
.home-espace .trialTeamMatesCirclesWithPhoto, .home-espace .trialTeamMatesCirclesWithoutPhoto {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 25px
}
.home-espace .tableDisplay {
  display: table
}
.home-espace .tableDisplayCell {
  display: table-cell;
  vertical-align: top
}
.home-espace .shareTheLoveIcon {
  margin-top: 30px;
  margin-left: 5px
}
.home-espace .divPositionRelative {
  Position: relative
}
.home-espace .shareTheLoveDescription {
  margin-top: 10px;
  margin-bottom: 15px
}
.home-espace .text-note-sharethelove {
  color: #999;
  font-size: 12px;
  line-height: 20px
}
.home-espace .trialTeamMatesCirclesWithoutPhoto {
  background-color: #bababa;
  position: relative
}
.home-espace .trialTeamMatesFontWithFirstName {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  position: relative;
  top: 9px
}
.home-espace .trialTeamMatesDiv {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px
}
.home-espace .ClosePersonalBox {
  color: #69C;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 2px;
  right: 2px;
  float: right;
  display: block;
  -servicestudio-text-indent: 0
}
.home-espace .ClosePersonalBox:hover {
  color: #4673a7
}
.home-espace .PersonalUnavailablePopupBorder {
  border: 2px solid #000;
  background-color: #ffffe0;
  padding: 30px
}
.home-espace .PersonalUnavailablePopupButtonMargin {
  margin-top: 5%
}
.home-espace .PersonalUnavailableTextMargins {
  margin-left: 15%;
  margin-right: 15%
}
.home-espace .SelectedManageAppsIconText {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px
}
.home-espace .controls-row input.logininput, .home-espace input[type=text].inputfield {
  height: 30px
}
.home-espace input[type=text].inputfield, .home-espace input[type=password].logininput {
  padding-left: 10px
}
.home-espace .controls-row input.logininput {
  height: 35px
}
@media (max-width:767px) {
  .home-espace .controls-row input.logininput, .home-espace input[type=text].inputfield {
    font-size: 14px
  }
  .home-espace .mobileInput {
    width: 220px !important;
    margin-left: auto !important;
    margin-right: auto !important
  }
  .home-espace .input-prepend.input-append {
    white-space: normal
  }
  .home-espace .mobileText {
    max-width: 105px
  }
}
.home-espace .box ul a, .home-espace .post-reply-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.home-espace .redText {
  color: red;
  font-size: 12px
}
.home-espace .background-gray {
  background-color: #E6EAEB;
  height: 65px;
  padding-top: 0;
  box-sizing: border-box
}
.home-espace .homebox-width {
  width: 500px !important
}
.home-espace .box .title {
  font-family: myriad-pro, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: grey;
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #d0d0d0
}
.home-espace .box ul {
  margin: 0;
  padding: 20px
}
.home-espace .box li {
  list-style: none
}
.home-espace .box ul a {
  display: block
}
.home-espace .box .details {
  color: grey
}
.home-espace .box.round {
  border-radius: 10px
}
.home-espace .round-top-left, .home-espace .round-top-left.round-top-right-1step {
  border-radius: 10px 0 0
}
.home-espace .round-top-right {
  border-radius: 0 10px 0 0
}
.home-espace .box .download-title {
  font-size: 22px;
  padding: 20px 20px 10px 25px;
  font-weight: bolder;
  display: inline-block;
  font-family: myriad-pro, sans-serif
}
.home-espace .box .download-content {
  padding-right: 20px;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 60px
}
.home-espace .box .download-content.highlight {
  min-height: 140px
}
.home-espace .box .download-server-content {
  padding-right: 25px;
  display: inline-block;
  font-family: myriad-pro, sans-serif;
  margin-left: 25px
}
.home-espace .box .download-button {
  height: 25px
}
.home-espace .box .download-image {
  height: 150px;
  padding-left: 25px
}
.home-espace .box .downloadlink {
  font-size: 14px
}
.home-espace .box .borderleft {
  border-left: 1px solid #fff;
  min-height: 165px
}
.home-espace .box {
  position: relative
}
.home-espace .configuration {
  position: absolute;
  width: 33px;
  height: 33px;
  background-color: #CCC;
  right: 0
}
.home-espace .buttons {
  padding: 17px 0;
  font-size: 12px;
  background-color: #4673A7
}
.home-espace .picture {
  height: 98px
}
.home-espace .row.buttons {
  margin: 0
}
.home-espace .components:before, .home-espace .posts:before, .home-espace .upcoming:before {
  float: left;
  display: block;
  content: "";
  margin-right: 7px
}
.home-espace .row.buttons a {
  color: #C2C2C2;
  text-align: center
}
.home-espace .posts:before {
  background: url(/CommunityBaseTheme/img/icons.png) -4px -841px no-repeat;
  width: 18px;
  height: 17px
}
.home-espace .components:before {
  background: url(/CommunityBaseTheme/img/icons.png) -6px -983px no-repeat;
  width: 16px;
  height: 17px
}
.home-espace .upcoming:before {
  background: url(/CommunityBaseTheme/img/icons.png) -39px -425px no-repeat;
  width: 15px;
  height: 18px
}
.home-espace .homepage-block-last-answered-details, .home-espace .post-reply-info {
  max-width: 268px;
  display: inherit
}
.home-espace .homepage-row-wrapper {
  margin: 20px
}
.home-espace .post-reply-info {
  color: grey;
  font-size: 14px
}
.home-espace .homepage-block-components-details.pull-left {
  width: auto
}
.home-espace .box.top {
  min-height: 190px
}
.home-espace .box.bottom {
  min-height: 322px
}
.home-espace .personal {
  padding: 55px 0 0
}
.home-espace .steps {
  background: #fff;
  margin: 10px 11px 10px 10px;
  position: relative
}
.home-espace .steps:after {
  content: ' ';
  background-image: url(/home/img/steps.png);
  height: 34px;
  width: 15px;
  position: absolute;
  top: 71px;
  right: -15px
}
.home-espace .steps .stepstyle {
  background-color: #A2B9D3;
  color: #fff;
  text-transform: uppercase;
  min-height: 0;
  padding: 2px 10px
}
.home-espace .steps .stepstyle.active {
  background: #4673A7
}
.home-espace .download-box-content {
  height: 100px;
  padding-left: 20px;
  padding-right: 20px
}
.home-espace .download-box-image {
  height: 150px;
  padding-left: 20px
}
.home-espace .download-box-button {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px
}
.home-espace .document-details {
  color: #999;
  font-size: 12px;
  margin-bottom: 10px
}
.home-espace .downloadSubHeaderText, .home-espace .titles {
  font-weight: 600;
  font-size: 21px
}
.home-espace .document-details-downs:before {
  content: "";
  float: left;
  background-image: url(/CommunityBaseTheme/img/icons.png);
  background-position: -5px -586px;
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  margin: 0 5px 0 0
}
.home-espace .document-big-box {
  border-top: 1px solid #ECECEC;
  margin-top: 30px;
  padding-top: 10px
}
.home-espace .Infrastructure {
  background-color: #E6E6E6;
  margin-bottom: 28px;
  border: 1px solid #ccc
}
.home-espace a.terms-link {
  color: #9A9A9A
}
.home-espace a.terms-link:hover {
  color: #000
}
.home-espace .InfraBox {
  padding: 20px;
  min-height: 145px
}
.home-espace .InfraBox .name {
  min-height: 75px
}
.home-espace .InfraBox .namewrapper {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 330px
}
.home-espace .selectable {
  cursor: pointer
}
.home-espace .BtnManageApp {
  width: 150px\9
}
.home-espace .round-top-right-1step {
  border-radius: 0
}
.home-espace .moreinfo-button {
  padding-left: 25px
}
.home-espace .mobile-align {
  text-align: right
}
.home-espace .mobile-displayinline {
  display: block
}
.home-espace .mobile-margintop10 {
  margin-top: 50px
}
.home-espace .mobile-margintop20 {
  margin-top: 40px
}
.home-espace .mobileInfraInactive {
  display: inline-block;
  padding-left: 30px
}
.home-espace .user-exprience-shared-box {
  background-image: url(img/stopwatch.png);
  background-position: 98% bottom;
  background-repeat: no-repeat;
  background-color: #C2D6EC;
  border-top: 3px solid #92B7DF;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px
}
.home-espace .user-experience-photo-border {
  border-right: 1px solid #e1ebf5
}
.home-espace .user-experience-top {
  margin-top: -41px
}
.home-espace .mobile-downloadmarginleft {
  margin-left: 10px
}
.home-espace .mobile-downloadmargintop {
  margin-top: 0
}
.home-espace .mobile-step3margin {
  margin-left: -50px
}
.home-espace .mobile-padding {
  margin-bottom: 20px
}
.home-espace .clock-task-done, .home-espace .clock-task-not-done, .home-espace .task-done, .home-espace .task-not-done {
  line-height: 13px
}
.home-espace .task-done>span.icon {
  background: url(img/icons_experience.png) -2px -3px no-repeat;
  width: 17px;
  height: 14px;
  display: inline-block;
  margin-right: 5px
}
.home-espace .task-not-done>span.icon {
  background: url(img/icons_experience.png) -3px -23px no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 5px
}
.home-espace .clock-task-done>span.icon {
  background: url(img/icons_experience.png) -22px -21px no-repeat;
  width: 14px;
  height: 17px;
  display: inline-block;
  margin-right: 5px
}
.home-espace .clock-task-not-done>span.icon {
  background: url(img/icons_experience.png) -22px -1px no-repeat;
  width: 14px;
  height: 17px;
  display: inline-block;
  margin-right: 5px
}
@media (max-width:979px) {
  .home-espace .visible-tablet {
    display: inline-block !important
  }
  .home-espace .mobile-padding {
    padding-right: 20px
  }
  .home-espace a.btn-small {
    padding: 4px 5px
  }
  .home-espace .InfraBox {
    min-height: 175px
  }
  .home-espace .InfraBox .name {
    min-height: 70px
  }
  .home-espace .InfraBox .namewrapper {
    max-width: 215px
  }
  .home-espace .box.top {
    min-height: 220px
  }
  .home-espace .box .download-content.highlight {
    min-height: 200px
  }
  .home-espace .box .download-content {
    min-height: 100px
  }
  .home-espace .arrow-right {
    border-width: 45px 155px 0;
    border-color: #fff transparent transparent rgba(255, 255, 255, 0);
    margin: 0 auto
  }
  .home-espace .mobile-step3margin {
    margin-left: 0
  }
}
@media (max-width:767px) {
  .home-espace .homebox-width {
    width: 100% !important
  }
  .home-espace .getstarted-what-u-get {
    width: 100%;
    padding: 20px 20px 0;
    height: 100%;
    box-sizing: inherit;
    border-top: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    border-radius: 10px 10px 0 0;
    border-bottom: 0
  }
  .home-espace .getstarted-what-cols {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 30px;
    float: none
  }
  .home-espace .arrow-wrapper {
    display: inline-block;
    width: 100%
  }
  .home-espace .arrow-right {
    border-width: 45px 155px 0;
    border-color: #fff transparent transparent rgba(255, 255, 255, 0);
    margin: 0 auto
  }
  .home-espace .mobile-downloadmarginleft, .home-espace .mobile-step3margin {
    margin-left: 0
  }
  .home-espace .round-top-right {
    border-radius: 0
  }
  .home-espace .round-top-left.round-top-right-1step, .home-espace .round-top-right-1step {
    border-radius: 10px 10px 0 0
  }
  .home-espace .download-content.highlight {
    min-height: 40px !important
  }
  .home-espace .box .download-content {
    min-height: 40px;
    padding-left: 20px
  }
  .home-espace .mobile-paddingleft20 {
    padding-left: 20px
  }
  .home-espace .mobile-paddingleft25 {
    padding-left: 25px
  }
  .home-espace .mobile-paddingleft5 {
    padding-left: 5px
  }
  .home-espace .mobile-align {
    text-align: left
  }
  .home-espace .mobile-displayinline {
    display: inline-block
  }
  .home-espace .mobile-margintop10 {
    margin-top: 10px
  }
  .home-espace .mobile-margintop20 {
    margin-top: 20px
  }
  .home-espace .box .borderleft {
    border-left: 0;
    min-height: 130px
  }
  .home-espace .mobileInfraInactive {
    display: inline-block;
    padding-left: 0
  }
  .home-espace .user-experience-photo-border {
    border-right: 0
  }
  .home-espace .user-experience-top {
    margin-top: -11px
  }
  .home-espace .user-exprience-shared-box {
    border-radius: 10px;
    border-top: 0
  }
  .home-espace .mobile-downloadmargintop {
    margin-top: 10px
  }
  .home-espace .mobile-padding {
    padding-bottom: 0
  }
}
@media (max-width:1250px) {
  .home-espace .SidebarMain {
    display: none !important
  }
}
.home-espace .sideBarPadding {
  padding-right: 10px
}
.home-espace .home-get-started-form {
  margin-left: 28px
}
.home-espace .marginLeftAndRight20 {
  margin-left: 50px;
  margin-right: 20px
}
.home-espace .marginLeftAndRight10 {
  margin-left: 0;
  margin-right: 10px
}
.home-espace .margin10 {
  margin: 0 20px 10px
}
.home-espace .AppsBox {
  width: 100%
}
.home-espace .IconCard:hover {
  color: #08C;
  background-color: transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}
.home-espace .IconCardSelected:hover {
  color: #C72500;
  background-color: transparent
}
.home-espace .titles {
  color: #333
}
.home-espace body {
  font-family: Arial, "Helvetica Neue", Helvetica, Myriad-Pro, sans-serif !important
}
.home-espace .download-content {
  margin-right: 20px
}
.home-espace .ClosePersonalBox {
  cursor: pointer;
  padding: 5px
}
.home-espace .FormTitle {
  font-size: 34px;
  font-weight: 700
}
.home-espace .FormTitleConfirmIdentity {
  font-size: 24px;
  font-weight: 600
}
.home-espace .BoxMargins {
  margin: 10px
}
.home-espace .ErrorBox {
  background-color: #FFE7E7;
  border: 1px solid #D8ABAB;
  background-image: none;
  padding: 6px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px
}
.home-espace .PersonalWebBlockMargins {
  margin: 20px 0
}
.home-espace .HomeMarginLeftDiv {
  margin-left: 20px
}
.home-espace .CreateApplicationMargin, .home-espace .ManageAppsMargin {
  margin-left: 10px
}
.home-espace .CardsSeparator {
  display: none
}
.home-espace .GetStartedCardsMargin {
  margin-top: 25px
}
.home-espace .homeFont {
  font-family: Arial;
  font-size: 12px
}
.home-espace .MainContentBox, .home-espace .RightSideBarBox {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px
}
.home-espace .HomeMarginLeftRightDiv {
  margin-left: 20px;
  margin-top: 40px
}
.home-espace .HomeSideBarDiv {
  margin-left: 20px;
  margin-top: 10px
}
.home-espace .ProvisioningRightDiv {
  margin-left: 20px
}
@media (max-width:979px) {
  .home-espace .HomeMarginLeftRightDiv, .home-espace .HomeSideBarDiv {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px
  }
  .home-espace .MainContentBox {
    border: none;
    padding: 20px
  }
  .home-espace .SelectedBrowseAppsIcon, .home-espace .SelectedManageAppsIcon {
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    padding: 15px
  }
  .home-espace .AppsBox {
    width: 91%
  }
  .home-espace .CardsSeparator {
    display: block
  }
  .home-espace .CreateApplicationMargin {
    margin-left: 0;
    margin-top: 10px
  }
  .home-espace .ManageAppsMargin {
    margin-left: 10px;
    margin-top: 10px
  }
  .home-espace .GetStartedCardsMargin {
    margin-top: 15px
  }
  .home-espace .GetStartedActionButtons {
    display: none
  }
}
@media (max-width:767px) {
  .home-espace .span3 {
    width: 224px
  }
  .home-espace .AppsBox {
    width: 94%
  }
  .home-espace .CardsSeparator {
    display: block
  }
  .home-espace .CreateApplicationMargin {
    margin-left: 0;
    margin-top: 10px
  }
  .home-espace .ManageAppsMargin {
    margin-left: 10px;
    margin-top: 10px
  }
  .home-espace .GetStartedCardsMargin {
    margin-top: 15px
  }
  .home-espace .GetStartedActionButtons, .home-espace .PersonalHeaderTransparentBackground {
    display: none
  }
}
.home-espace .UpdateAlertDiv {
  min-height: 47px;
  background: #ECEFF1;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  margin-top: 26px;
  margin-bottom: 10px
}
.home-espace .ClockBackground, .home-espace .InfoBackground {
  background-repeat: no-repeat;
  background-position: bottom left
}
.home-espace .ClockBackground {
  background-image: url(/home/img/icon_clock.png)
}
.home-espace .InfoBackground {
  background-image: url(/home/img/icon_info.png)
}
.home-espace .AlertContent {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 55px
}
.home-espace .AlertMessage {
  margin-left: 5px;
  width: 80%
}
.home-espace .AlertAction {
  color: #005580
}
@media (max-width:669px) {
  .home-espace .AlertContent {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px
  }
  .home-espace .AlertAction {
    margin-top: 10px
  }
  .home-espace .ClockBackground, .home-espace .InfoBackground {
    background-image: none
  }
  .home-espace .UpdateAlertDiv {
    margin-left: 20px;
    margin-right: 20px
  }
}
.home-espace .HomeWebBlocksBackground {
  background-color: #fff !Important
}
.home-espace .DownloadWebBlockMargins {
  margin: 0 0 20px
}
.home-espace body {
  background-color: transparent
}
.home-espace .ContentTitle {
  color: #333;
  font-weight: 600;
  font-size: 21px
}
.home-espace .HomeWebBlocksBackground h2 {
  color: #333;
  font-weight: 600;
  font-size: 18px
}
.home-espace .BrowseAppsActionButtons, .home-espace .GetStartedActionButtons {
  margin-bottom: 30px;
  margin-right: 10px;
  text-align: center
}
.home-espace .boxImage {
  width: 100%;
  border-top-right-radius: 5px
}
.home-espace .popupTitle {
  margin-bottom: 15px
}
.home-espace #todo-list, .home-espace #todo-stats {
  margin: 0;
  text-align: left
}
.home-espace #todo-list {
  list-style: none;
  padding: 0;
  margin: 0 20px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2
}
.home-espace #todo-stats, .home-espace .todo-clear {
  color: #777
}
.home-espace .todo-clear {
  float: right
}
.home-espace .todo-done .todo-content {
  text-decoration: line-through
}
.home-espace .todo-input {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: normal;
  margin: 5px auto 0;
  padding: 6px;
  width: 420px
}
.home-espace .todo-item {
  width: 257px;
  box-sizing: border-box;
  float: left;
  padding: 3px 0;
  line-height: normal;
  text-indent: -19px;
  margin-left: 25px
}
.home-espace .todo-label {
  color: #444;
  font-size: 20px;
  font-weight: 700;
  text-align: center
}
.home-espace .todo-remaining {
  color: #333;
  font-weight: 700
}
.home-espace span.get-started-list-time {
  color: #d3d3d3;
  margin-left: 2px;
  font-size: 12px
}
.home-espace .BrowseAppBox, .home-espace .CreatAppBox, .home-espace .ManageAppBox {
  position: relative;
  width: 180px;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #AAA;
  height: 30px;
  cursor: pointer
}
.home-espace .BrowseAppBox:after, .home-espace .CreatAppBox:after, .home-espace .ManageAppBox:after {
  content: '';
  background: #AAA;
  height: 30px;
  width: 10px;
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
  position: absolute;
  right: -3px;
  border-radius: 0 5px 0 0;
  top: 0
}
.home-espace .BrowseAppBox.Active, .home-espace .CreatAppBox.Active, .home-espace .ManageAppBox.Active {
  width: 180px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #FFF;
  min-height: 30px;
  border-bottom: 1px solid #fff !important;
  border: 1px solid #ddd;
  margin: -1px 0
}
.home-espace .BrowseAppBox.Active:after, .home-espace .CreatAppBox.Active:after, .home-espace .ManageAppBox.Active:after {
  content: '';
  background: #FFF;
  height: 30px;
  width: 12px;
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
  position: absolute;
  right: -3px;
  border-bottom: 1px solid #fff !Important;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: -1px 0
}
.home-espace .BrowseAppBoxText, .home-espace .CreatAppBoxText, .home-espace .ManageAppBoxText {
  color: #FFF;
  margin-top: 6px
}
.home-espace .BrowseAppBox.Active .BrowseAppBoxText, .home-espace .CreatAppBox.Active .CreatAppBoxText, .home-espace .ManageAppBox.Active .ManageAppBoxText {
  margin-top: 6px;
  color: #363636
}
.home-espace .BrowseAppBoxIcon, .home-espace .CreatAppBoxIcon, .home-espace .ManageAppBoxIcon {
  width: 20px;
  font-size: 12px;
  margin-top: 8px;
  color: #FFF;
  margin-left: 10px
}
.home-espace .BrowseAppBox.Active .BrowseAppBoxIcon, .home-espace .CreatAppBox.Active .CreatAppBoxIcon, .home-espace .ManageAppBox.Active .ManageAppBoxIcon {
  color: #363636;
  margin-top: 8px
}
.home-espace .MainContentBox_Navigation {
  border: 1px solid #ddd;
  border-radius: 0 5px 5px;
  margin-left: 0 !important
}


/*onboarding*/

/* All spans with class ValidationMessage preceded by Not_Valid Class on hover or placed right after Not_Valid on hover class after class after class rolediv*/
.home-espace .rolediv .Not_Valid:hover+span.ValidationMessage,
.home-espace .rolediv .Not_Valid:hover~span.ValidationMessage {
    display: block;
}

/* All spans with class ValidationMessage preceded by Not_Valid Class on focus or placed right after Not_Valid on focus class after class after class rolediv*/
.home-espace .rolediv .Not_Valid:focus+span.ValidationMessage,
.home-espace .rolediv .Not_Valid:focus~span.ValidationMessage {
    display: block;
}

.home-espace .onb-box{
    background-color: white;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.85), inset 0 4px 0 #b00e03, inset 0 3px 0 #c20;
    padding: 20px 40px;
    box-sizing: border-box;
}
.home-espace .onb-box-subscription{  
background-color: white;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.85), inset 0 4px 0 #b00e03, inset 0 3px 0 #c20;
    padding: 20px 27px;   
    box-sizing: border-box;
    
}

.home-espace .width100{
    width: 100px;
}

.home-espace .marginbottom{
    margin-bottom: 33px;
}

.home-espace .photo-border{
    border: 1px solid #e0e0e0;
    border-radius: 9px;
    box-shadow: 0 2px 5px rgba(153, 151, 151, 0.5);
}

.home-espace .loginbox .input-login {
    width: 254px !important;
}

.home-espace .profileborder{
    width: 319px;
    height: 465px;
    border: 1px solid #e4e4e4;
    border-radius: 7px;
    margin-bottom: 38px;
}

.home-espace .sub-background{    
    background: url(/home/img/OutPlat.png) no-repeat;
}


@-webkit-keyframes spaceship {
   from {
    margin-left: 136px;
    margin-top: -32px;
   }
   to {
    margin-left: 133px;
    margin-top: -29px;
   }
}
@-moz-keyframes spaceship {
   from {
    margin-left: 136px;
    margin-top: -32px;
   }
   to {
    margin-left: 133px;
    margin-top: -29px;
   }
}
@keyframes spaceship {
   from {
    margin-left: 136px;
    margin-top: -32px;
   }
   to {
    margin-left: 133px;
    margin-top: -29px;
   }
}
.home-espace .spaceship {
     margin-left: 133px;
    margin-top: -29px
    -webkit-animation: spaceship 1s alternate infinite linear;
    -moz-animation: spaceship 1s alternate infinite linear;
    animation: spaceship 1s alternate infinite linear;
}

.home-espace .logo-os{
    margin-top: 92px;
    margin-left: 57px;
}

.home-espace .line-separator{
    height: 1px;
    background: #e7eced no-repeat;
}
.home-espace .onboarding-annotation{
  border-left: 2px solid #c81c00;
    padding-left: 10px;
}

.home-espace .line-separator-darker{
    height: 1px;
    background: #e0e0e0 no-repeat;
}

.home-espace .step-box{
     width: 402px;
    height: 99px;
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.11);
    overflow: hidden;
}

.home-espace .lettrine{
    height: 133px;
    width: 61px;
    col r: #90a4ae;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 109px;
    font-weight: 700;
    line-height: 133px;
    margin-left: -8px

}

.home-espace .team-grey{
    width: 570px;
    height: 101px;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.14);
    margin-left:-40px;
}

.home-espace .fontgrey{
    color: #596669;
}

.home-espace .font10{
    font-size: 10px;
    line-height: 13px;
}

.home-espace .font12{
    font-size: 12px;
    line-height: 14px;
}

.home-espace .font14{
    font-size: 14px;
    line-height: 16px;
}

.home-espace .font16{
    font-size: 16px;
    line-height: 22px;
}

.home-espace .home-espace .font17{
    font-size: 17px;
    line-height: 20px;
}


.home-espace .font18{
    font-size: 18px;
    line-height: 24px;
}

.home-espace .font30{
    font-size: 30px;
    line-height: 37px;
}

.home-espace .font_arial{
    font-family: Arial;
}

.home-espace .font_myriad{
    font-family: myriad-pro;
}



.home-espace input[type="text"].email-input-ui{
    width: 376px;    
    background-color: #ededed;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);   
 }
 
 .home-espace .email-content-ui{
    width: 376px;
    height: 150px;
    background-color: #ededed;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    resize:vertical; 
}

/*Fix span message*/
span.ValidationMessage
{
    position: absolute;
    top:33px;
    left:0;
}


/*Class that holds the bg of the webblock.*/
.home-espace .fullscreen{
    width:100%;
    height:100%;
    position:absolute;
    -webkit-transition: opacity 1s;     
    transition: opacity 1s;
    background-color: black;
    background-image: url(/home/img/bgimage.jpg); 
    background-position: center top;
    top: 0px;
    opacity:1;
    left: 0px;
    z-index:2;    
}

/*class that holds the content of the webblock. We use the translateX(-50%) and left:50%
so we can center the absoluted div horizontally (because we dont know the width of the div)
***DONT WORK IN IE8*** */
.home-espace .MidDiv{
    top:70px;    
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index:3;
    position: absolute;
}

/*Class that holds the progress bar*/
.home-espace .LineContainer{
    height:3px;
    background-image: url(/home/img/line.png); 
    background-size: cover;
    margin:5px 0 20px 0 ;
    
}

/*Class that holds the Filler from the progress bar*/
.home-espace .LineFilled{
    height:0px;
    border-top: 3px solid #cfd8dc;
}

/*Class to make the text white*/
.home-espace .White{
    color:white;
}

/*Class to make the link black*/
.home-espace a.Black{
    color:black;
}

.home-espace .inputTechMailContainer{
    position: relative;
}

.home-espace .inputTechMailContainer .ValidationMessage{
    top:52px;
    left:5px;
}

.home-espace input[type="text"].inputTechMail {
    background-color: #f6f6f6;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    height:41px;
    padding-left:21px;
    
}

.home-espace .invitation{
    margin-left: 79px;
    margin-right: 79px;
}
/*onboardingInfoballon*/

.home-espace .tooltip-inner{
    text-align: left;
    padding: 8px;
    line-height: 15px;
    white-space: pre-line;
}

.home-espace .CrossRemove a{
    color: #949fa3;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
}

.home-espace .ContainerMemberList{
    overflow-y: auto;
    max-height: 222px;
}



/*ANIMATIONS*/

#flame{
    display: block;
 
    animation-delay: 0s;
    animation-name: fireMiddle, fillOpacity1;
    animation-duration: 1.2s;
  transform-origin: 65px 145px;
     animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes fireMiddle { 
    10% { transform: rotate(8deg) translateY(1px)  }
    20% { transform: rotate(-3deg) translateY(-2px)  }
    30% { transform: rotate(12deg)  }
    40% { transform: rotate(-4deg) }
    50% { transform: rotate(3deg) }
    60% { transform: rotate(-5deg) }
    70% { transform: rotate(5deg) translateY(-1px)}
    80% { transform: rotate(4deg) }
    90% { transform: rotate(16deg) }
    99% { transform: rotate(0deg) }
}

@keyframes float {
  from {
    transform: translateY(4px) rotate3d(0, 0, 1, 3deg);
  }
  to {
    transform: translateY(-3px) rotate3d(0, 0, 1, 0deg);
  }
}



#rocket{
    position:absolute;
    animation-delay: 0s;
    animation-name: float, fillOpacity1;
    animation-duration: 1.2s;
    transform-origin: 65px 145px;
    animation-duration: 2s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;
    left:120px;
    top:50px;
}

@keyframes fly {
  from {
    transform: translateY(4px) rotate3d(0, 0, 1, 3deg);
  }
  to {
    transform: translateY(-330px) translateX(330px) rotate3d(0, 0, 1, 0deg);
  }
}



/*End onboarding*/



@media (max-width:979px) {
  .home-espace .BrowseAppBox, .home-espace .ManageAppBox {
    position: relative;
    width: 135px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA;
    height: 30px;
    cursor: pointer
  }
  .home-espace .BrowseAppBox.Active, .home-espace .ManageAppBox.Active {
    position: relative;
    width: 135px;
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF;
    height: 30px;
    cursor: pointer
  }
  .home-espace .CreatAppBox, .home-espace .CreatAppBox.Active {
    position: relative;
    width: 155px !important;
    height: 30px;
    cursor: pointer
  }
  .home-espace .CreatAppBox {
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA
  }
  .home-espace .CreatAppBox.Active {
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF
  }
}
@media (max-width:767px) {
  .home-espace .desktop-resize-fix.BrowseAppBox, .home-espace .desktop-resize-fix.CreatAppBox, .home-espace .desktop-resize-fix.ManageAppBox {
    position: relative;
    width: 50px !important;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA;
    height: 30px;
    cursor: pointer
  }
  .home-espace .desktop-resize-fix.BrowseAppBox.Active, .home-espace .desktop-resize-fix.CreatAppBox.Active, .home-espace .desktop-resize-fix.ManageAppBox.Active {
    position: relative;
    width: 50px !important;
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF;
    height: 30px;
    cursor: pointer
  }
  .home-espace .desktop-resize-fix .BrowseAppBoxIcon, .home-espace .desktop-resize-fix .CreatAppBoxIcon, .home-espace .desktop-resize-fix .ManageAppBoxIcon {
    font-size: 18px
  }
}
.home-espace .LoaderBackground, .home-espace .LoaderWrapper {
  background: url(/home/img/preloader_3_100pxwhite2.gif) 50% 50% no-repeat
}
.home-espace .LoaderWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  position: absolute
}
.home-espace #WebForm1 {
  margin-top: 0 !important
}
.home-espace .CreateAccountBackground {
  background-color: #F8F8F8
}
@media (max-width:767px) {
  .home-espace .box {
    padding: 15px
  }
  .home-espace .mobile-width100 {
    width: 100px
  }
}
.home-espace .box {
  background-color: #F2F2F2;
  padding: 30px
}
@media (max-width:767px) {
  .home-espace .email-label-style {
    width: 250px
  }
}

