.learn-espace {
}
.learn-espace .processingUpload {
  display: inline-block;
  padding: 3px 0 0 4px;
  font-size: 12px;
}
.learn-espace .disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.9;
}
.learn-espace .archived {
  background-color: lightgray;
  color: black;
}
.learn-espace .section1 {
  background-color: #e6e6e6;
  padding-top: 10px;
  padding-bottom: 15px;
}
.learn-espace .section2 {
  background-color: #ccc;
  padding-top: 15px;
  padding-bottom: 20px;
}
.learn-espace .section-sidebar {
  margin: 10px 20px;
}
.learn-espace .sidebar-title {
  font-size: 20px;
}
.learn-espace .title-red {
  color: #c20;
}
.learn-espace .controls-row li {
  line-height: 40px;
}
.learn-espace .bold-learn {
  font-weight: 600;
}
.learn-espace .sidebar-title2 {
  font-size: 16px;
}
.learn-espace .form-input {
  height: 30px !important;
}
.learn-espace .courseTitle {
  color: #08c;
}
.learn-espace a.btn.btn-medium.red.overview {
  padding: 8px 20px;
}
.learn-espace .link-more {
  margin-top: 21px;
}
.learn-espace .social-icons-learn {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ECECEC;
}
.learn-espace .progressCont {
  position: relative;
  top: 28px;
  padding-right: 10px;
}
.learn-espace .heading-group {
  cursor: pointer;
  position: relative;
  top: -5px;
}
.learn-espace .mainContainer {
  position: relative;
  top: -7px;
}
.learn-espace .contentBackgroundColor {
  background-color: rgba(230, 230, 230, 0.5);
}
.learn-espace .social-icons .share a {
  font-size: 16px;
  color: #808080;
}
.learn-espace .social-icons a:link {
  margin-right: 5px;
}
.learn-espace .social-icons .share a:hover {
  color: #0066AA;
}
.learn-espace .round-border-arrow {
  border-radius: 200px 200px 200px 200px;
  border: 1px solid #bdc5c7;
  width: 32px;
  height: 32px;
  position: relative;
  top: 31px;
  left: -19px;
}
.learn-espace .arrow {
  width: 32px;
  height: 32px;
  position: relative;
  top: 7px;
  left: 10px;
}
.learn-espace .byline {
  color: #808080;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 3px;
}
.learn-espace .greenCheck {
  position: absolute;
  top: 39px;
  left: 14px;
}
.learn-espace .loader {
  position: relative;
  width: 40px;
  height: 40px;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.learn-espace .loader-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.learn-espace .spiner-holder-1 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.learn-espace .spiner-holder-2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.learn-espace .loader-spiner {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.learn-espace .animate-0-25-a {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.learn-espace .animate-0-25-b {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.learn-espace .animate-25-50-a {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.learn-espace .animate-25-50-b {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.learn-espace .animate-50-75-a {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.learn-espace .animate-50-75-b {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.learn-espace .animate-75-100-a {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.learn-espace .animate-75-100-b {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.learn-espace .text {
  text-align: center;
  padding-top: 26%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  font-family: Verdana;
}
@media (max-width:767px) {
  .learn-espace .initialBackground {
    padding: 10px 10px;
  }
  .learn-espace .middleBackground {
    height: auto;
    padding: 0px 10px;
  }
}
.learn-espace .middleBackground {
  background-color: #d6dbdd;
  height: 253px;
  background-position-y: 0%;
}
.learn-espace .finalBackground {
  background-color: white;
}
.learn-espace .courseMiddle {
  margin-top: 10px;
}
.learn-espace .courseDescription {
  margin-bottom: 3px;
}
.learn-espace .ProgressBar {
  height: 15px;
  border-radius: 10px;
  background: #E6E6E6;
}
.learn-espace .ProgressBar .Progress {
  height: inherit;
  border-radius: inherit;
  background: #8CC83C;
}
.learn-espace .checkBoxDiv {
  background-image: url('/Learn/img/Half_Box.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -1px;
  right: -1px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.learn-espace .checkBoxIcon {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 24px;
}
.learn-espace .courseCard {
  height: 246px;
  max-width: 287px;
  border: 1px solid lightgray;
  margin-bottom: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.31);
  padding: 20px 15px;
  color: #000;
  background-color: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: box-shadow 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: box-shadow 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: box-shadow 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: box-shadow 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
}
.learn-espace .courseCard:hover {
  text-decoration: none;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  border-color: rgba(214, 214, 214, 0);
}
.learn-espace .courseTitle {
  color: #08c;
}
.learn-espace .trainingTextSection {
  text-align: center;
  color: white;
}
.learn-espace .middleSectionTitle {
  margin-top: 23px;
  margin-bottom: 30px;
  text-align: center;
}
.learn-espace .trainingIcon {
  font-size: 80px;
}
.learn-espace .trainingImgSection {
  display: inline-block;
  height: 75%;
  width: 75%;
  margin-top: 30px;
}
.learn-espace .trainingTextSection {
  text-align: left;
  color: #384142;
}
.learn-espace .trainingLink {
  text-decoration: none;
  font-weight: 300;
}
.learn-espace .trainingLink:hover {
  text-decoration: none;
  font-weight: 300;
}
.learn-espace .trainingBadge {
  width: 2.5%;
  margin-right: 5px;
}
.learn-espace .right5 {
  margin-right: 5px;
}
.learn-espace .osicon-download {
  margin-right: 5px;
}
.learn-espace .courseCard {
  max-width: 95%;
  height: auto;
}
@media (max-width:980px) {
  .learn-espace .middleBackground {
    height: auto;
  }
}
@media (max-width:767px) {
  .learn-espace .initialBackground {
    padding: 10px 10px;
  }
  .learn-espace .middleBackground {
    height: auto;
    padding: 0px 10px;
  }
  .learn-espace .headerBackground {
    background-position-y: 22px;
  }
}
.learn-espace .courseTitle {
  color: #08c;
}
.learn-espace.videos {
  background-color: #E6E6E6;
}
.learn-espace body, .learn-espace .initialBackground, .learn-espace .middleBackground, .learn-espace .finalBackground {
  background-color: #E6E6E6;
}
.learn-espace .initialBackground-classroom {
  background-color: #E6EAEB;
}
.learn-espace .initialBackground-overview {
  background-color: #E6EAEB;
}
.learn-espace .middleBackground-overview {
  background-color: #d6dbdd;
  height: 253px;
  background-position-y: 0%;
}
.learn-espace .finalBackground-overview {
  background-color: white;
}
.learn-espace .initialBackground-course {
  background-color: #E6EAEB;
}
.learn-espace .initialBackground-videos {
  background-color: #E6E6E6;
}
.learn-espace .specialContent {
  margin-top: 15px;
  padding: 20px;
  background-color: white;
}
.learn-espace .CreatAppBox, .learn-espace .BrowseAppBox, .learn-espace .ManageAppBox {
  position: relative;
  width: 150px;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #AAA;
  height: 35px;
  cursor: pointer;
}
.learn-espace .CreatAppBox:after, .learn-espace .BrowseAppBox:after, .learn-espace .ManageAppBox:after {
  content: '';
  background: #AAA;
  height: 35px;
  width: 10px;
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
  position: absolute;
  right: -3px;
  border-radius: 0 5px 0 0;
  top: 0;
}
.learn-espace .CreatAppBox.Active, .learn-espace .BrowseAppBox.Active, .learn-espace .ManageAppBox.Active {
  width: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #FFF;
  min-height: 35px;
  border-bottom: 1px solid white !important;
  margin: -1px 0px -1px 0px;
}
.learn-espace .CreatAppBox.Active:after, .learn-espace .BrowseAppBox.Active:after, .learn-espace .ManageAppBox.Active:after {
  content: '';
  background: #FFF;
  height: 35px;
  width: 12px;
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
  position: absolute;
  right: -3px;
  border-bottom: 1px solid white !Important;
  margin: 0px 0px -1px 0px;
}
.learn-espace .CreatAppBoxText, .learn-espace .BrowseAppBoxText, .learn-espace .ManageAppBoxText {
  color: #FFF;
  margin-top: 6px;
}
.learn-espace .CreatAppBox.Active .CreatAppBoxText, .learn-espace .BrowseAppBox.Active .BrowseAppBoxText, .learn-espace .ManageAppBox.Active .ManageAppBoxText {
  font-size: 15px;
  color: #999;
  margin-top: 8px;
}
.learn-espace .CreatAppBoxIcon, .learn-espace .BrowseAppBoxIcon, .learn-espace .ManageAppBoxIcon {
  width: 20px;
  font-size: 12px;
  margin-top: 7px;
  color: #FFF;
  margin-left: 10px;
}
.learn-espace .CreatAppBox.Active .CreatAppBoxIcon, .learn-espace .BrowseAppBox.Active .BrowseAppBoxIcon, .learn-espace .ManageAppBox.Active .ManageAppBoxIcon {
  color: #999;
  margin-top: 7px;
}
.learn-espace .TabContent {
  background-color: white;
  padding: 30px;
}
.learn-espace iframe {
  background-color: transparent !important;
}
@media (max-width:979px) {
  .learn-espace .BrowseAppBox, .learn-espace .ManageAppBox {
    position: relative;
    width: 135px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA;
    height: 35px;
    cursor: pointer;
  }
  .learn-espace .BrowseAppBox.Active, .learn-espace .ManageAppBox.Active {
    position: relative;
    width: 135px;
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF;
    height: 35px;
    cursor: pointer;
  }
  .learn-espace .CreatAppBox {
    position: relative;
    width: 150px !important;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA;
    height: 35px;
    cursor: pointer;
  }
  .learn-espace .CreatAppBox.Active {
    position: relative;
    width: 150px !important;
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF;
    height: 35px;
    cursor: pointer;
  }
}
@media (max-width:767px) {
  .learn-espace .desktop-resize-fix.CreatAppBox, .learn-espace .desktop-resize-fix.BrowseAppBox, .learn-espace .desktop-resize-fix.ManageAppBox {
    position: relative;
    width: 50px !important;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA;
    height: 35px;
    cursor: pointer;
  }
  .learn-espace .desktop-resize-fix.CreatAppBox.Active, .learn-espace .desktop-resize-fix.BrowseAppBox.Active, .learn-espace .desktop-resize-fix.ManageAppBox.Active {
    position: relative;
    width: 50px !important;
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF;
    height: 35px;
    cursor: pointer;
  }
  .learn-espace .desktop-resize-fix .CreatAppBoxIcon, .learn-espace .desktop-resize-fix .BrowseAppBoxIcon, .learn-espace .desktop-resize-fix .ManageAppBoxIcon {
    font-size: 18px;
  }
  .learn-espace .moble-tab {
    top: 2px;
    position: relative;
  }
  .learn-espace .initialBackground {
    padding: 10px 10px;
  }
  .learn-espace .middleBackground {
    height: auto;
    padding: 0px 10px;
  }
}
.learn-espace .lesson-material-download:before {
  color: white !important;
}
.learn-espace .lesson-material-download {
  color: white !important;
}
@media (max-width:768px) and (orientation:portrait) {
  .learn-espace .btn.btn-medium.blue.download {
    display: none;
  }
}
@media (max-width:1024px) and (orientation:landscape) {
  .learn-espace .btn.btn-medium.blue.download {
    display: none;
  }
}
.learn-espace .material_icon {
  vertical-align: middle;
  margin-right: 12px;
  color: #606060;
}
.learn-espace .materialItem {
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
}
.learn-espace .train-title .green-Check:hover {
  color: #8CC83C;
}
.learn-espace .byline {
  color: #808080;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 3px;
}
@media (max-width:767px) {
  .learn-espace .materialItem {
    margin-left: 0px;
    padding-left: 0px;
  }
  .learn-espace .material_icon {
    vertical-align: top;
  }
}
@media (max-width:420px) {
  .learn-espace .materialName {
    width: 80%;
    vertical-align: middle;
  }
}
.learn-espace .courseImageDiv {
  text-align: right;
  margin: 0 auto;
}
@media (max-width:767px) {
  .learn-espace .courseImageDiv {
    text-align: center;
    margin: 0 auto;
  }
  .learn-espace .imgMobile {
    margin-right: 0px !important;
    max-width: 100% !important;
  }
  .learn-espace .textCenter {
    text-align: center;
  }
}
.learn-espace .initialBackground {
  background-color: white;
}
.learn-espace .courseLocation {
  color: #808080;
}
.learn-espace div.Tabs_TabOn, .learn-espace li.Tabs_TabOn {
  border: none;
  border-bottom: 4px solid #C20;
  width: 48%;
  text-align: center;
}
.learn-espace .Tabs_TabBody {
  border: none;
}
.learn-espace div.Tabs_TabOff, .learn-espace li.Tabs_TabOff {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 48%;
  text-align: center;
}
.learn-espace li.Tabs_TabOff a.Tabs_TabOff {
  background: white;
  color: #808080;
}
.learn-espace a.Tabs_TabOff:visited {
  background: white;
  color: #333;
}
.learn-espace a.Tabs_TabOff, .learn-espace span.Tabs_TabOn {
  text-overflow: ellipsis;
  overflow: hidden;
}
.learn-espace ul.Tabs_Header {
  font-size: 11px;
  font-weight: 600;
  font-family: 'myriad-pro', Arial, sans-serif;
  position: relative;
  margin-top: 7px;
}
.learn-espace .sideblock-header {
  background-color: #384142;
}
.learn-espace a.Tabs_TabOn, .learn-espace a.Tabs_TabOn:visited, .learn-espace a.Tabs_TabOn:hover, .learn-espace span.Tabs_TabOn {
  color: #333;
}
.learn-espace .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;  /* 16:9 */
  height: 0;
  margin-top: 0px;
}