.learn-espace {
    min-height: 100%;
}
body.videos {
    background-color: #E6EAEB;
}
.learn-espace .top-menu-learn {
    border-color: transparent transparent #BCC5CC;
}
.learn-espace .loader, .learn-espace .loader-bg {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box
}
.learn-espace .processingUpload {
    display: inline-block;
    padding: 3px 0 0 4px;
    font-size: 12px
}
.learn-espace .disable {
    pointer-events: none;
    cursor: default;
    opacity: .9
}
.learn-espace .archived {
    background-color: #d3d3d3;
    color: #000
}
.learn-espace .section1 {
    background-color: #e6e6e6;
    padding-top: 10px;
    padding-bottom: 15px
}
.learn-espace .section2 {
    background-color: #ccc;
    padding-top: 15px;
    padding-bottom: 20px
}
.learn-espace .section-sidebar {
    margin: 10px 20px
}
.learn-espace .osicon-download, .learn-espace .right5, .learn-espace .social-icons a:link {
    margin-right: 5px
}
.learn-espace .sidebar-title {
    font-size: 20px
}
.learn-espace .title-red {
    color: #c20
}
.learn-espace .controls-row li {
    line-height: 40px
}
.learn-espace .bold-learn {
    font-weight: 600
}
.learn-espace .sidebar-title2 {
    font-size: 16px
}
.learn-espace .form-input {
    height: 30px !important
}
.learn-espace a.btn.btn-medium.red.overview {
    padding: 8px 20px
}
.learn-espace .link-more {
    margin-top: 21px
}
.learn-espace .social-icons-learn {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ECECEC
}
.learn-espace .progressCont {
    position: relative;
    top: 28px;
    padding-right: 10px
}
.learn-espace .heading-group {
    cursor: pointer;
    position: relative;
    top: -5px
}

/**.learn-espace .mainContainer {
    position: relative;
    top: -7px
}
**/
.learn-espace .contentBackgroundColor {
    background-color: rgba(230, 230, 230, .5)
}
.learn-espace .social-icons .share a {
    font-size: 16px;
    color: grey
}
.learn-espace .social-icons .share a:hover {
    color: #06A
}
.learn-espace .round-border-arrow {
    border-radius: 200px;
    border: 1px solid #bdc5c7;
    width: 32px;
    height: 32px;
    position: relative;
    top: 31px;
    left: -19px
}
.learn-espace .arrow {
    width: 32px;
    height: 32px;
    position: relative;
    top: 7px;
    left: 10px
}
.learn-espace .greenCheck {
    position: absolute;
    top: 39px;
    left: 14px
}
.learn-espace .loader {
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    box-sizing: border-box
}
.learn-espace .loader-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, .1);
    box-sizing: border-box
}
.learn-espace .spiner-holder-1, .learn-espace .spiner-holder-2 {
    top: 0;
    left: 0;
    background: 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    position: absolute;
    overflow: hidden
}
.learn-espace .spiner-holder-1 {
    width: 50%;
    height: 50%;
    box-sizing: border-box
}
.learn-espace .spiner-holder-2 {
    width: 100%;
    height: 100%;
    box-sizing: border-box
}
.learn-espace .loader-spiner {
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, .3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}
.learn-espace .animate-0-25-a {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.learn-espace .animate-0-25-b {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.learn-espace .animate-25-50-a {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.learn-espace .animate-25-50-b {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.learn-espace .animate-50-75-a {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.learn-espace .animate-50-75-b {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.learn-espace .animate-75-100-a {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.learn-espace .animate-75-100-b {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
.learn-espace .text {
    text-align: center;
    padding-top: 26%;
    font-size: 12px;
    color: rgba(255, 255, 255, .3);
    font-family: Verdana
}


.learn-espace .sideblock-greybackground{
    background-color: #e7eced!important;
    text-align: center;
}

.learn-espace .sideblock-holder-noheader{
    background-color: #FFFFFF!important;
    margin-bottom: 40px;
}

.learn-espace .timeBlock_days {
    border-radius: 4px 0 0 4px;
    background-color: #384142;
    width: 36px;
    height: 40px;
    padding: 5px;
    margin-right: 1px;
}

.learn-espace .timeBlock_date {
    border-radius: 0 4px 4px 0;
    background-color: #384142;
    width: 130px;
    height: 40px;
    padding: 5px;
}

.learn-espace .timeBlock_days_value { 
    color: white;
    font-family: myriad-pro,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
}

.learn-espace .timeBlock_days_text { 
    color: white;
    color: #e6e6e6;
    font-family: myriad-pro,Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.learn-espace .timeBlock_date_subblock {

}

.learn-espace .loader {
    width: 60px !important;
    height: 60px !important;
}

.learn-espace .percentageLoader17 {
    position: absolute;
    padding-top: 20px;
    padding-left: 17px;
}

.learn-espace .percentageLoader20 {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
}

.learn-espace .percentageLoader13 {
    position: absolute;
    padding-top: 20px;
    padding-left: 13px;
}

.learn-espace .courseHeader {
    color: #7a878b;
    font-family: myriad-pro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
}

.learn-espace .courseSubHeader {
    color: #596669;
    font-family: myriad-pro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;   
    padding-top: 7px;
    padding-bottom: 7px;
}

.learn-espace .resumeblock {
    color: #7a878b;
    background-color: #eaedef;
    margin-bottom: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 22px;
}

.learn-espace .resumeblock-whitebackground {
    background-color: #ffffff;
    vertical-align: middle;
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
}

.learn-espace .resumeblock-btn{
    float: right;
    padding-right: 10px;
}

.learn-espace .resumeblock-Text{
    display: inline-block;    
    line-height: 30px;     
    padding-left: 10px;
}

.learn-espace .courseListLine {
    padding-top: 10px;
    padding-bottom: 10px;    
}

.learn-espace .courseListDate {
    width: 40px;
    height: 40px;
    background-color: #eceff1;
    margin-left: 10px;
}

.learn-espace .courseListDateNumber {
    color: #949fa3;
}

.learn-espace .courseListDateText{
    text-transform: uppercase;
    color: #596669;
}

.learn-espace .courseListText {
    height: 19px;
    color: #37474f;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}

.learn-espace .courseListSubText {
    height: 15px;
    color: #949fa3;
    font-size: 10px;
    font-family: Arial;
    font-weight: 700;
}

.learn-espace .surveyResultsLabel {
    color: #545454;
    font-size: 18px;
    margin-top: 30px;
}

.learn-espace .surveyValid {

}

.learn-espace .surveyValid30 {
    margin-bottom: 30px;
}

.learn-espace .surveyValid20 {
    margin-bottom: 20px;
}

.learn-espace .surveyInvalid {
    border: 1px solid #bf1601;
    border-radius: 0;
}

.learn-espace .surveyInvalid30 {
    margin-bottom: 30px; 
    border: 1px solid #bf1601;
    border-radius: 0;
}

.learn-espace .surveyInvalid20 {
    margin-bottom: 20px; 
    border: 1px solid #bf1601;
    border-radius: 0;
}

.learn-espace .bottomFirstRow {
    background-color: #505050;
}

.learn-espace .bottomRowBtn {
    background-color: rgba(255, 255, 255, 0.09);
    margin-bottom: 20px;
    padding: 5px 0px 5px 0px;
    border-radius: 4px;
}

.learn-espace .bottomRowBtn a{
    color: white;
}

.learn-espace .bottomSecondRow {
    background-color: #e7eced;
    border: 1px solid #e7eced;
    border-radius: 4px;
}

.learn-espace .courseLink {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
    margin-left: -4px;
}

.learn-espace .courseLinkTitle {
    color: #333;
    font-family: myriad-pro,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.learn-espace .bottomSecondRowText {
    color: #7a878b;
    font-family: myriad-pro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width: 50px;
    margin-left: 32px;
    line-height: 70px;   
}

.learn-espace .bottomSecondRowSeparator {
    background-color: white;
    min-height: 70px;
    width: 1px;
}

.learn-espace .bottomSecondRowLastColumn {
    line-height: 70px;
}


.learn-espace .bottomSecondRowLastColumn a {
    color: white;
}


.learn-espace .HtmlContent {
    list-style-type:disc;
    font-size:15px;
    font-family:Arial;
    color:#000000;
    background-color:white;
    font-weight:normal;
    font-style:normal;
    font-variant:normal;
    text-decoration:none;
    vertical-align:baseline;
    padding: 10px 20px;
}

.learn-espace .HtmlContent ul, 
.learn-espace .HtmlContent ol {
    margin-left: 30px;
}

.learn-espace .HtmlContent li {
    list-style-type:disc;
    font-size:15px;
}

.learn-espace .HtmlContent p {
    line-height:1.15;
    margin-top:6pt;
    margin-bottom:6pt;
}

.learn-espace .HtmlContent .KeyConcepts{
    font-size: 19px;
    font-weight: bold;
}

.learn-espace .HtmlContent .SectionTitle {
    font-size: 19px;
    color: #c00000;
}

.learn-espace .VideoLink {
    text-align: center;
    border: 1px solid transparent;
}

.learn-espace .VideoLink:hover {
    cursor: pointer;
    border: 1px dotted #888;
}

.learn-espace .VideoLink a {
    font-size:13px;
    font-family:Arial;
    color:#f00000;
    background-color:transparent;
    font-weight:normal;
    font-style:normal;
    font-variant:normal;
    text-decoration:underline;
    vertical-align:baseline;
    white-space:pre-wrap;
}

.learn-espace .LineLink,
.learn-espace .LineLink a{
    color: #000;
}

.learn-espace .TableCourses a:hover,
.learn-espace .LineLink a:hover {
    cursor: pointer;
    color: #C00000;
    text-decoration: none;
}

.learn-espace .LineLink:hover {
    color: #C00000;
    cursor: pointer;
}



/* Callouts to Q&A chapters from Lesson contents */
.learn-espace .LessonCallout {
    display: inline-block;
    height: 60px;
}

.learn-espace .LessonCallout>span {
    position: absolute;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 15px;
    min-width: 400px;
    line-height: 16px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 6px 6px 10px #CCC;
    -webkit-box-shadow: 6px 6px 10px #CCC;
    box-shadow: 6px 6px 10px #CCC;
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    background: #FFEEAB; /* #B2BED6 */
    border: 1px solid #001857;
}

.learn-espace .LessonCallout img {
    border: 0; 
    margin: -22px 0 0 -26px;
    float: left;
    padding: 5px;
    text-decoration: none;
    text-outline: none;
    border: none;
}

.learn-espace .MainContent {
    padding-bottom: 75px;
}

.learn-espace .MHeader {    
    line-height: 4;
    background-color: #555555;
    color: white;
    border-radius: 2px 2px 0 0;
    vertical-align: middle;
    font-size: 16px;
}

.learn-espace .MTable {
    background-color: #ECECEC;
    color:  #555555;
    line-height: 3;
}

.learn-espace .MInnerTable {
    background-color: rgba(236, 236, 236, 0.32);
    color:  #555555;
    line-height: 3;
}

.learn-espace .Lessons .Heading2 {
    font-size: 15px
}

.learn-espace .Lessons {
    background-color: white;
    padding: 10px 10px;
    font-size: 12px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.63);
}

.learn-espace .Lessons .TableRecords_Header {
    color: #999;
    border-bottom: 1px solid rgba(194, 194, 194, 0.63);
    padding: 0px 0px 5px 5px;
}

.learn-espace .Lessons .TableRecords {
    background: white;
    padding: 5px 40px 0px 40px;
    margin-top: 20px;
    border: none;
}

.learn-espace .Lessons .a, .Lessons a:link, .Lessons a:visited {
    color: #396185;
}

.learn-espace .Label {
    border-radius: 2px;
    width: 100%;
    color: white;
    line-height: 2;
    text-align: center;
    vertical-align: middle;
}

.learn-espace .Label.Intro {
    background-color: gray;
}

.learn-espace .Label.Video {
    background-color: #C33C2D;
}


.learn-espace .Label.Assignment {
    background-color: #C7A414;
}


.learn-espace .Label.Checkpoint {
    background-color: #396185;
}


.learn-espace .Label.Milestone {

    background-color: #087944;
}

.learn-espace .Label.BorderGreen {
    color: rgba(3, 78, 3, 0.9);
}

.learn-espace .Label.BorderRed {
    color: rgba(195, 60, 45, 0.9);
}


.learn-espace .Label.BorderOutdated {
    color: #E49400;
}

.learn-espace .Outdated {
    color: #E49400;
}

.learn-espace .White {
    color: white !important;
}

.learn-espace .Card {
    background-color: #FFF;
    border: 1px solid #dadbde;
    box-shadow: 0 1px 3px rgba(211, 211, 211, 0.5);
    padding: 10px;
    width: 100%;
}


.learn-espace .Bold {
    font-weight: bold;
}

.learn-espace .MarginLeft5 {
    margin-left: 5px;
}


.learn-espace iframe {
    width: 100%;   
}

.learn-espace .chapter {
    box-shadow: 0px 0px 1px 0px #aaa;   
    margin-bottom: 5px;
}

.learn-espace .chapter-block {
    /*padding: 15px 48px;*/
    padding: 15px 15px;
    position: relative;
    color: #333;
    font-family: myriad-pro,sans-serif;
    font-weight: 600;
    line-height: 18px;    
    font-size: 14px;
    cursor: pointer;    
}

.learn-espace .chapter-block-oneLesson {
    padding: 15px;
    position: relative;
    color: #333;
    font-family: myriad-pro,sans-serif;
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
    background: #6699CC;
    color: white;
    border: none;
}

.learn-espace .chapter-block .expand {
    color: #7a878b;
}

.learn-espace .chapter.open .expand .fa-chevron-down:before {
    content: "\f077";
}

.learn-espace .chapter-block .lock {
    position: absolute;
    left: 14px;
    top: 15px;
}

.learn-espace .chapter-block .expand {
    position: absolute;
    right: 14px;
    top: 15px;
}

.learn-espace .chapter-content {
    margin: 0px;
    padding: 0px 48px 15px 48px;
    display: none;
}

.learn-espace .chapter-content .description {
    border-bottom: 1px solid #eceff1;
    padding-bottom: 10px;
    margin-bottom: 15px;    
}

.learn-espace .InvisibleImage {
    opacity: 0;   
}

.learn-espace .InvisibleImage:hover {
    opacity: 0.5;   
}

.learn-espace .chapter-padding5 {
    padding: 5px;   
    box-sizing: border-box;
}


.learn-espace .chapter-padding5-btn {
    padding-right: 0px;
    line-height: 30px;
    float: right;
}




@media (max-width:767px) {
    .learn-espace .initialBackground {
        padding: 10px
    }
    .learn-espace .middleBackground {
        height: auto;
        padding: 0 10px
    }
    .learn-espace .resumeblock-whitebackground {
        width: 150px;
    }

    /**    .learn-espace .headerBackground {
            background-position-y: 22px
        }
    /**    .learn-espace .initialBackground {
            padding: 10px
        }
    **//** .learn-espace .middleBackground {
            height: auto;
            padding: 0 10px
        }
    **/
}

@media (max-width: 979px) and (min-width: 768px) {
    .learn-espace .resumeblock-whitebackground {
        width: 280px;
    }
}

/**.learn-espace .middleBackground {
    height: 253px;
    background-position-y: 0
}
**/
.learn-espace .courseMiddle {
    margin-top: 10px
}
.learn-espace .courseDescription {
    margin-bottom: 3px
}
.learn-espace .ProgressBar {
    height: 15px;
    border-radius: 10px;
    background: #E6E6E6
}
.learn-espace .ProgressBar .Progress {
    height: inherit;
    border-radius: inherit;
    background: #8CC83C
}
.learn-espace .checkBoxDiv {
    background-image: url(/Learn/img/Half_Box.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -1px;
    right: -1px;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3
}
.learn-espace .checkBoxIcon {
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: 24px
}
.learn-espace .courseCard {
    border: 1px solid #d3d3d3;
    margin-bottom: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .31);
    padding: 20px 15px;
    color: #000;
    background-color: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: box-shadow 200ms cubic-bezier(.215, .61, .355, 1);
    -moz-transition: box-shadow 200ms cubic-bezier(.215, .61, .355, 1);
    -ms-transition: box-shadow 200ms cubic-bezier(.215, .61, .355, 1);
    transition: box-shadow 200ms cubic-bezier(.215, .61, .355, 1);
    position: relative
}
.learn-espace .courseCard:hover {
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border-color: rgba(214, 214, 214, 0)
}
.learn-espace .middleSectionTitle {
    margin-top: 23px;
    margin-bottom: 30px;
    text-align: center
}
.learn-espace .trainingIcon {
    font-size: 80px
}
.learn-espace .trainingImgSection {
    display: inline-block;
    height: 75%;
    width: 75%;
    margin-top: 30px
}
.learn-espace .trainingTextSection {
    text-align: left;
    color: #384142
}
.learn-espace .trainingLink, .learn-espace .trainingLink:hover {
    text-decoration: none;
    font-weight: 300
}
.learn-espace .trainingBadge {
    width: 2.5%;
    margin-right: 5px
}
.learn-espace .courseCard {
    max-width: 95%;
    height: auto
}
.learn-espace .header-title {
    margin-bottom: 50px;
}
.learn-espace .doc-container, .learn-espace .aboutOS-container, .learn-espace .training-container {
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 15px;
}
.learn-espace .aboutOS-container, .learn-espace .training-container {
    min-height: 350px;
}
.learn-espace .doc-links {
    margin-top: 20px;
}
.learn-espace .doc-links .section div {
    margin-bottom: 10px;
}
.learn-espace .doc-links .section div a:before {
    content: '>';
    margin-right: 5px;
}
.learn-espace .recommended .resources {
    border: 1px solid #CCC;
    padding: 10px;
    max-width: 250px;
    height: 100px;
    margin-top: 15px;
}
@media (max-width:980px) {

    /**    .learn-espace .middleBackground {
            height: auto
        }
    **/
}
@media (max-width:767px) {
    **/
}
.learn-espace .courseTitle {
    color: #08c
}
.learn-espace body, .learn-espace .initialBackground, .learn-espace .middleBackground, .learn-espace .finalBackground {
    background-color: #E6E6E6;
}
.learn-espace .initialBackground-classroom, .learn-espace .initialBackground {
    background-color: #E6EAEB
}
.learn-espace .middleBackground {
    background-color: #d6dbdd;
    height: 253px;
    background-position-y: 0
}
.learn-espace .finalBackground {
    background-color: #fff
}
.learn-espace .initialBackground-course {
    background-color: #E6EAEB
}
.learn-espace .initialBackground-videos {
    background-color: #E6E6E6
}
.learn-espace .specialContent {
    margin-top: 15px;
    padding: 20px;
    background-color: #fff
}

/**.learn-espace .BrowseAppBox,
**/
.learn-espace .CreatAppBox/**.learn-espace .ManageAppBox**/ {
    position: relative;
    width: 150px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA;
    height: 35px;
    cursor: pointer
}

/**.learn-espace .BrowseAppBox:after,
**/
.learn-espace .CreatAppBox:after/**.learn-espace .ManageAppBox:after**/ {
    content: '';
    background: #AAA;
    height: 35px;
    width: 10px;
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
    position: absolute;
    right: -3px;
    border-radius: 0 5px 0 0;
    top: 0
}

/**.learn-espace .BrowseAppBox.Active,
**/
.learn-espace .CreatAppBox.Active/**.learn-espace .ManageAppBox.Active**/ {
    width: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #FFF;
    min-height: 35px;
    border-bottom: 1px solid #fff !important;
    margin: -1px 0
}

/**.learn-espace .BrowseAppBox.Active:after,
**/
.learn-espace .CreatAppBox.Active:after/**.learn-espace .ManageAppBox.Active:after**/ {
    content: '';
    background: #FFF;
    height: 35px;
    width: 12px;
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
    position: absolute;
    right: -3px;
    border-bottom: 1px solid #fff !Important;
    margin: 0 0 -1px
}

/**.learn-espace .BrowseAppBoxText,
**/
.learn-espace .CreatAppBoxText/**.learn-espace .ManageAppBoxText**/ {
    color: #FFF;
    margin-top: 6px
}

/**.learn-espace .BrowseAppBox.Active .BrowseAppBoxText,
**/
.learn-espace .CreatAppBox.Active .CreatAppBoxText/**.learn-espace .ManageAppBox.Active .ManageAppBoxText**/ {
    font-size: 15px;
    color: #999;
    margin-top: 8px
}

/**.learn-espace .BrowseAppBoxIcon,
**/
.learn-espace .CreatAppBoxIcon/**.learn-espace .ManageAppBoxIcon**/ {
    width: 20px;
    font-size: 12px;
    margin-top: 7px;
    color: #FFF;
    margin-left: 10px
}

/**.learn-espace .BrowseAppBox.Active .BrowseAppBoxIcon,
**/
.learn-espace .CreatAppBox.Active .CreatAppBoxIcon/**.learn-espace .ManageAppBox.Active .ManageAppBoxIcon**/ {
    color: #999;
    margin-top: 7px
}
.learn-espace .TabContent {
    background-color: #fff;
    padding: 30px
}
.learn-espace iframe {
    background-color: transparent !important
}
@media (max-width:979px) {

    /**    .learn-espace .BrowseAppBox,
        .learn-espace .ManageAppBox {
            position: relative;
            width: 135px;
            border: none;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background-color: #AAA;
            height: 35px;
            cursor: pointer
        }
    **/

    /**    .learn-espace .BrowseAppBox.Active,
        .learn-espace .ManageAppBox.Active {
            position: relative;
            width: 135px;
            border: 1px solid #DDD;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background-color: #FFF;
            height: 35px;
            cursor: pointer
        }
    **/    .learn-espace .CreatAppBox, .learn-espace .CreatAppBox.Active {
    position: relative;
    width: 150px !important;
    height: 35px;
    cursor: pointer
}
.learn-espace .CreatAppBox {
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA
}
.learn-espace .CreatAppBox.Active {
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF
}
}
@media (max-width:767px) {

/**.learn-espace .desktop-resize-fix.BrowseAppBox,
**/
.learn-espace .desktop-resize-fix.CreatAppBox    /**.learn-espace .desktop-resize-fix.ManageAppBox**/ {
    position: relative;
    width: 50px !important;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #AAA;
    height: 35px;
    cursor: pointer
}

/**.learn-espace .desktop-resize-fix.BrowseAppBox.Active,
**/
.learn-espace .desktop-resize-fix.CreatAppBox.Active    /**.learn-espace .desktop-resize-fix.ManageAppBox.Active**/ {
    position: relative;
    width: 50px !important;
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FFF;
    height: 35px;
    cursor: pointer
}

/**.learn-espace .desktop-resize-fix .BrowseAppBoxIcon,
**/
.learn-espace .desktop-resize-fix .CreatAppBoxIcon

/**.learn-espace .desktop-resize-fix .ManageAppBoxIcon**/ {
    font-size: 18px
}
.learn-espace .moble-tab {
    top: 2px;
    position: relative
}

/**    .learn-espace .initialBackground {
    padding: 10px
}
**/
.learn-espace .middleBackground {
    height: auto;
    padding: 0 10px
}
}

/**.learn-espace .lesson-material-download,
.learn-espace .lesson-material-download:before {
color: #fff!important
}
**/
@media (max-width:768px) and (orientation:portrait) {
.learn-espace .btn.btn-medium.blue.download {
    display: none
}
}
@media (max-width:1024px) and (orientation:landscape) {
.learn-espace .btn.btn-medium.blue.download {
    display: none
}
}
.learn-espace .material_icon {
vertical-align: middle;
margin-right: 12px;
color: #606060
}
.learn-espace .materialItem {
margin-left: 30px;
margin-right: 30px;
padding-left: 20px
}
.learn-espace .train-title .green-Check:hover {
color: #8CC83C
}
@media (max-width:767px) {
.learn-espace .materialItem {
    margin-left: 0;
    padding-left: 0
}
.learn-espace .material_icon {
    vertical-align: top
}
}
@media (max-width:420px) {
.learn-espace .materialName {
    width: 80%;
    vertical-align: middle
}
}
.learn-espace .courseImageDiv {
text-align: right;
margin: 0 auto
}
@media (max-width:767px) {
.learn-espace .courseImageDiv {
    text-align: center;
    margin: 0 auto
}
.learn-espace .imgMobile {
    margin-right: 0 !important;
    max-width: 100% !important
}
.learn-espace .textCenter {
    text-align: center
}
.learn-espace .learn-helpcenter {
    padding: 0 10px;
}
}

/**.learn-espace .initialBackground {
background-color: #fff
}
**/
.learn-espace .courseLocation {
color: grey
}
.learn-espace div.Tabs_TabOn, .learn-espace li.Tabs_TabOn {
border: none;
border-bottom: 4px solid #C20;
width: 48%;
text-align: center
}
.learn-espace .Tabs_TabBody {
border: none
}
.learn-espace div.Tabs_TabOff, .learn-espace li.Tabs_TabOff {
border: none;
border-bottom: 1px solid #e6e6e6;
width: 48%;
text-align: center
}
.learn-espace li.Tabs_TabOff a.Tabs_TabOff {
background: #fff;
color: grey
}
.learn-espace a.Tabs_TabOff:visited {
background: #fff;
color: #333
}
.learn-espace a.Tabs_TabOff, .learn-espace span.Tabs_TabOn {
text-overflow: ellipsis;
overflow: hidden
}
.learn-espace ul.Tabs_Header {
font-size: 11px;
font-weight: 600;
font-family: myriad-pro, Arial, sans-serif;
position: relative;
margin-top: 7px
}
.learn-espace .sideblock-header {
background-color: #384142
}
.learn-espace a.Tabs_TabOn, .learn-espace a.Tabs_TabOn:hover, .learn-espace a.Tabs_TabOn:visited, .learn-espace span.Tabs_TabOn {
color: #333
}
.learn-espace .videoWrapper {
position: relative;
padding-bottom: 56.25%;
height: 0;
margin-top: 0
}