.platformlicensingfo-espace div {
    box-sizing: border-box;
}

.platformlicensingfo-espace .DisplayNone{
    display: none;
}

.platformlicensingfo-espace .Border{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    margin-top: 20px;
}

.platformlicensingfo-espace .ShowRecord_Caption{
    color: grey;
}

.platformlicensingfo-espace .HeaderFO{
    font-size: 30px;
    font-weight: 600;
    padding: 0 0 10px;
    margin: 0;
    line-height: 1.2em;
    width: 467px;
    height: 38px;
    color: #333333;
}

.platformlicensingfo-espace .Paragraph{
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.platformlicensingfo-espace .Text_Strong{
    color: #596669;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.platformlicensingfo-espace .Text_Normal{
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.platformlicensingfo-espace .SubHeader{
    font-weight: 600;
    font-size: 21px;
    color:  #333333;
    line-height: 20px;
}

.platformlicensingfo-espace .TopHeader{
    background-color: #37474f;
    padding: 10px;
    margin-top: 15px;
}

.platformlicensingfo-espace .TopHeaderText{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 10px;
}

.platformlicensingfo-espace .Description{
    color: grey;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 15px 10px 15px;
}
.platformlicensingfo-espace .EnvironmentText{
    height: 16px;
    color: #5b686b;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.platformlicensingfo-espace .EnvironmentBox{
    background-color: white;
    border-radius: 4px;
    margin: 0;
    padding: 12px 0;
    line-height: 28px;
}

.platformlicensingfo-espace .Serial{
    color: #656565;
    font-size: 12px;
    font-weight: 700;
}

.platformlicensingfo-espace .AOsText{
    width: 48px;
    height: 14px;
    color: #aaa;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.platformlicensingfo-espace .CenterContainers{
    padding: 0 25px;
}

.platformlicensingfo-espace .ButtonStyle{
    background-color: #08c;
    border-radius: 2px;
    color: white;
    font-family: Arial;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 14px;
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
}

.platformlicensingfo-espace .InfoButton{
    width: 19px;
    height: 22px;
    color: #aaa;
    font-family: FontAwesome;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    font-size: 23px;
}

.platformlicensingfo-espace .Backgrounds{
    background-color: #eceff1;
    padding: 5px 15px;
}

.platformlicensingfo-espace .LineGrayBackground{
    background-color: #eceff1;
    height:15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.platformlicensingfo-espace a.LinkDisplayBlock{
    display: block;
}

.platformlicensingfo-espace .Heading2 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 0.8em;
    padding-top: 6px;
}

.platformlicensingfo-espace .Title_Links {
    font-size: 11px;
    padding: 5px 0px;
    font-weight: normal;
}

.platformlicensingfo-espace .spacing{
   margin-top: 2px;
}

.platformlicensingfo-espace .EnvironmentDescription {
    background-color: #eceff1;
    margin-bottom: 2px;
    padding: 0 15px;
}
.platformlicensingfo-espace .button-holder {
    margin-left: 60px;
    padding-left: 58px;
    text-align: right;
}

@media (max-width:767px) {
    .platformlicensingfo-espace .AOsContainer,
    .platformlicensingfo-espace .AOsContainer + div {
        display: none;
    }
    .platformlicensingfo-espace .container.top40 {
        padding: 0 10px;
    }
    .platformlicensingfo-espace .button-holder a.btn {
        width: 195px;
        margin-top: 10px;
    }
    .platformlicensingfo-espace .button-holder {
        margin-left: 0;
        padding-left: 0;
        text-align: center;
    }
}