/* BetterTabs WebBlock */
.Tabs_Wrapper {
    margin: 0px 0px 8px 0px;
    border: 1px solid white;
}

.Tabs_TabBody {
    margin: 24px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #cccccc;
    _height: 1%;  /* IE6 */
    *display: inline-block;    
}

.Tabs_TabBody.OSAutoMarginTop {
    margin-top:24px;
}

.Tabs_TabBody:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ul.Tabs_Header {
    margin: 0px;
    padding: 0px;
    height: 31px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    line-height: 18px;    
}

ul.Tabs_Header span {
    height: auto;
}

div.Tabs_TabOn,
li.Tabs_TabOn {
    float: left;
    margin: 0px;
    padding: 1px;
    list-style: none;
    color: #333333;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid white;
    background: white;
}

div.Tabs_TabOff,
li.Tabs_TabOff {
    float: left;
    margin: 0px;
    padding: 1px;
    color: #666666;
    list-style: none;
    border: 1px solid #cccccc;
}

div.Tabs_TabDisabled,
li.Tabs_TabDisabled {
    float: left;
    margin: 0px;
    padding: 1px;
    list-style: none;
    border: 1px solid #cccccc;
}

a.Tabs_TabOn,
a.Tabs_TabOn:link,
a.Tabs_TabOn:visited,
a.Tabs_TabOn:hover,
span.Tabs_TabOn {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #666666;
    padding: 2px 10px 1px 10px;
}

a.Tabs_TabOff,
a.Tabs_TabOff:link,
a.Tabs_TabOff:visited {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #666666;
    padding: 2px 10px 1px 10px;
    background: #EAEAEA;
}

a.Tabs_TabOff:hover {
    background: white;
}

a.Tabs_TabDisabled,
a.Tabs_TabDisabled:link,
a.Tabs_TabDisabled:visited,
a.Tabs_TabDisabled:hover,
span.Tabs_TabDisabled {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #AAAAAA;
    padding: 2px 8px 1px 8px;    
    background: #EAEAEA;
}
/* ExcludeFromPickersOutsideBlock: Tabs_Header, Tabs_TabOn, Tabs_TabOff, Tabs_TabDisabled */
/* Blocks/ButtonsGroup WebBlock */
/* ButtonGroup - Pattern SilkUI */
.ButtonGroup {
    cursor: pointer;
    width: 100%;
    outline: 1px solid transparent;
    -webkit-transition: outline-color .3s ease-out;
       -moz-transition: outline-color .3s ease-out;
         -o-transition: outline-color .3s ease-out;
            transition: outline-color .3s ease-out;
}

.ButtonGroup_button.Button {
    box-sizing: border-box;
    border: 1px solid #B0BEC5;
    background-color: #FFF;
    margin: 0;
    border-radius: 0;
    margin-right: 0;
    line-height: 32px;
    width: 120px;
    height: 34px;
    padding:0 10px;
    border-left: 0;
    color: #77858C;
    font-size: 15px;
    text-align: center;
    -webkit-box-shadow: inset 0 -2px 0 #b0bec5;
    box-shadow: inset 0 -2px 0 #b0bec5;
}

.ButtonGroup_button.active {
    color: #455A64;
    background-color: #e7e7e7;
    border: 1px solid #b0bec5;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.21), inset 0 2px 1px rgba(101, 123, 135, 0.57);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.21), inset 0 2px 1px rgba(101, 123, 135, 0.57);
}

.ButtonGroup_button.Button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid #DCDCDC;
}

.ButtonGroup_button.Button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #DCDCDC;
}

.ButtonGroup_button input[type=radio] {   
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
    -servicestudio-margin-left: 0 !important;
    -servicestudio-z-index: 1;
    -servicestudio-opacity: 0.6;
}

.ButtonGroup_button input[type=radio],
.ButtonGroup_button input[type=checkbox] {
    display: none;
}

.ButtonGroup_button.Button.disabled,
.ButtonGroup_button.Button.disabled:hover {
    cursor: default;
    color: #999;
    background-color: #F5F5F5;
}

.ButtonGroup_button.Button:hover,
.ButtonGroup_button.Button.active,
.ButtonGroup_button.Button:active {
    border-color: #CBCBCB;
    background: #E6E6E6;
}
/* Blocks/Menu WebBlock */
.Tabs_Wrapper {
    margin: 0px 0px 8px 0px;
    border: 1px solid white;
}

.Tabs_TabBody {
    margin: 24px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #cccccc;
    _height: 1%;  /* IE6 */
    *display: inline-block;    
}

.Tabs_TabBody.OSAutoMarginTop {
    margin-top:24px;
}

.Tabs_TabBody:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ul.Tabs_Header {
    margin: 0px;
    padding: 0px;
    height: 31px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    line-height: 18px;    
}

ul.Tabs_Header span {
    height: auto;
}

div.Tabs_TabOn,
li.Tabs_TabOn {
    float: left;
    margin: 0px;
    padding: 1px;
    list-style: none;
    color: #333333;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid white;
    background: white;
}

div.Tabs_TabOff,
li.Tabs_TabOff {
    float: left;
    margin: 0px;
    padding: 1px;
    color: #666666;
    list-style: none;
    border: 1px solid #cccccc;
}

div.Tabs_TabDisabled,
li.Tabs_TabDisabled {
    float: left;
    margin: 0px;
    padding: 1px;
    list-style: none;
    border: 1px solid #cccccc;
}

a.Tabs_TabOn,
a.Tabs_TabOn:link,
a.Tabs_TabOn:visited,
a.Tabs_TabOn:hover,
span.Tabs_TabOn {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #666666;
    padding: 2px 10px 1px 10px;
}

a.Tabs_TabOff,
a.Tabs_TabOff:link,
a.Tabs_TabOff:visited {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #666666;
    padding: 2px 10px 1px 10px;
    background: #EAEAEA;
}

a.Tabs_TabOff:hover {
    background: white;
}

a.Tabs_TabDisabled,
a.Tabs_TabDisabled:link,
a.Tabs_TabDisabled:visited,
a.Tabs_TabDisabled:hover,
span.Tabs_TabDisabled {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #AAAAAA;
    padding: 2px 8px 1px 8px;    
    background: #EAEAEA;
}
/* ExcludeFromPickersOutsideBlock: Tabs_Header, Tabs_TabOn, Tabs_TabOff, Tabs_TabDisabled */
/* Blocks/OsPartnerManagerSwitcher WebBlock */
.switcherContainer {
    background-color: #36474f;
    height: auto;
    color: #91a0a7;
    padding-bottom: 5px;
}
.switcherContainer a {
    color: #91a0a7;
    cursor: pointer;
}
.switcherContainer a:hover {
    color: #91a0a7;
    cursor: pointer;
}
.styled-select select {
  padding-left: 10px;
  font-size: 14px;
  line-height: 1;
  border-radius: 5px;
  height: 28px;
  -webkit-appearance: none;
  background: url(/PartnerArea/img/dropdown_icon.png?139294) no-repeat right #273238;
  border-color: #3C3C3C;
  color: #FFFFFF;
  float: none;
  margin-bottom: 0;
  box-shadow: none;
  background-position-x: 128px;
}
.styled-select {
   overflow: hidden;
}
/* Blocks/popover_js WebBlock */
.popover {
  position: absolute;
  top: 35px;
  left: -85px;
  z-index: 1010;
  display: none;
  max-width: 276px;
  width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: rgba(0, 0, 0, 0.78);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  padding-bottom: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  color: white;
}

.popover-title:empty {
  display: none;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(55, 55, 55, 1);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: rgba(55, 55, 55, 1);
  border-top-width: 0;
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}
/* CommunityFlow/Partner_Lead_Show WebBlock */
.lead-container {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 70px;
    background-color: #FFF;
    border: 1px solid #e2e1e1;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    padding: 13px 10px 10px 10px;
}

.section {
    display: inline-block;
    width: 95px;
    margin-left: 10px;
}

.section .text-label {
    text-transform: uppercase;
    color: #78909c;
    font-size: 10px;
    font-weight: 700;
}

.section .text-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #263238;
    font-size: 12px;
    font-weight: 400;
}

.section.big {
    width: 140px;
}

.section.ConvertButton {
    font-family: Myriad-Pro, sans-serif;
    font-weight: 600;
    color: #4CAF50;
    font-size: 12px;
    width: 110px;
    text-align: center;
    margin-top: 6px;
    padding: 4px 7px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    text-transform: uppercase;
}

<<<<<<< Updated upstream
.ConvertButton a,
.ConvertButton a:link {
    color: #4CAF50;
}

.ConvertButton a:hover,
.ConvertButton a:visited {
    border-color: #3C8C40;
    color: #3C8C40;
=======
/* PartnersApplication Theme */
/*
    How to generate a theme for your company: 
    
        1 - Go to http://www.outsystems.com/goto/themegenerator
        2 - Copy the generated CSS
        3 - Paste it here

*/

/* BREAKS - TEXT BODY 
* {
    font-family: Arial, sans-serif;
    color: #333;
}


body {
    background: transparent;
>>>>>>> Stashed changes
}
*/

<<<<<<< Updated upstream
.section.DeleteButton {
    box-sizing: border-box;
    margin-top: 6px;
    width: 35px;
    padding: 4px 5px 4px 5px;
    border: 1px solid #78909C;
    border-radius: 5px;
    color: #546E7A;
    text-align: center;
}

.DeleteButton a,
.DeleteButton a:link {
    color: #546E7A;
=======
a,
a:link,
a.Navigation {
    font-size: 12px;
    /* color: #08C BREAKS - header*/
}

.Heading1, .Heading2, .Heading3, .Heading4, .Heading5 {
    font-family: 'myriad-pro', Arial, sans-serif;
    font-weight: 600;
    line-height: 24px;
>>>>>>> Stashed changes
}
/* CommunityFlow/Partner_OpportunityStatus WebBlock */
.closedWon {
    color: #009688;
}
.confirmed {
    color: #4CAF50;
}
.developed {
    color: #909930;
}
.defined {
    color: #EA910E;
}
.qualified {
    color: #C7903F;
}
.developing {
    color: #C58E3E;
}
.identified {
    color: #938569;
}
.closedLost {
    color: #CC2200;
}
/* CommunityFlow/Partner_Quote_Show WebBlock */
.quote-state {
    font-size: 14px;
}

.approved {
    color: #AABE84;
}

.rejected {
    color: #744335;
}

.otherState {
    color: #CC9D5D;
}
/* PartnerArea Theme */
.top-menu-arrow {
  border-color: transparent transparent #FFFFFF transparent;
}
.profile-partners-cover {
    position: relative;
    background-repeat: no-repeat; /* box-shadow: 0 1px 10px #A6A6A4; */
}
.profile-partners-cover {
    background-image: url(img/light_noise_diagonal.png?138105&138109&138110&138118&138228&138507);
    background-size: auto;
    background-repeat: repeat;
    background-color: #E5E6E7;  /* background: url(http://hdw.datawallpaper.com/architecture/big-city-nights-desktop-background-504977.jpg) no-repeat center center fixed;   
      -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
       background-size: cover; 
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://hdw.datawallpaper.com/architecture/big-city-nights-desktop-background-504977.jpg', sizingMethod='scale')";
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://hdw.datawallpaper.com/architecture/big-city-nights-desktop-background-504977.jpg', sizingMethod='scale');
        */
}
.profile-pic {
position: absolute;
  bottom: -50px;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  border: 1px solid #cecece;
  background-color: #E4E4E4;
  padding: 5px;
  box-shadow: 0px 2px 4px 0px rgba(177,177,177,0.50);
}
.account-card {
box-shadow: 0px 2px 0px #E9EAEB;
  display: block;
padding: 30px 40px;
  background-color: #fff;
  margin-bottom: 30px;
border: 1px solid #E9EAEB;
border-radius: 4px;
}
.account-card h2 {
  font-size: 16px;
}
.account-card .profile-pic {
    position: relative;
    width: 120px;
    height: 120px;
  border-radius: 5px;
  border: 1px solid #cecece;
    background-color: #E4E4E4;
    padding: 5px;
    margin: 0 auto;
    bottom: 0;
    box-shadow: 0px 2px 4px 0px rgba(177,177,177,0.50);
}
.profile-pic-background {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 1px;
    position: relative;
}
.profile-pic-background a {
    width: 120px;
    height: 120px;
    display: block;
}

.partner-cover-details-wrapper {
    position: relative;
    height: 115px;
}
.profile-pic img {
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
div.Tabs_TabOff, li.Tabs_TabOff {
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    padding: 8px 5px 0px 5px;
    background: #AAA;
    color: #FFF;
    height: 35px;
    border-top-left-radius: 5px;
    margin-right: 20px;
    border: none;
}
div.Tabs_TabOff:after, li.Tabs_TabOff:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 35px;
    background: #AAA;
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
    top: 0px;
    right: -9px;
    border-radius: 0 5px 0 0;
}
a.Tabs_TabOff, a.Tabs_TabOff:link, a.Tabs_TabOff:visited {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px 10px 0px 10px;
    background: transparent;
}
a.Tabs_TabOff:hover {
    background: transparent;
}
div.Tabs_TabOn, li.Tabs_TabOn {
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    padding: 8px 5px 0px 5px;
    background: #FFF;
    color: #333;
    height: 35px;
    border-top-left-radius: 5px;
    margin-right: 20px;
}
div.Tabs_TabOn:after, li.Tabs_TabOn:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 35px;
    background: #AAA;
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
    top: -1px;
    right: -10px;
    border-radius: 0 5px 0 0;
    background: #FFF;
    border-top: 1px solid #cccccc;
    border-left: 0px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 0px;
    -webkit-backface-visibility: hidden;
}
a.Tabs_TabOn, a.Tabs_TabOn:link, a.Tabs_TabOn:visited, a.Tabs_TabOn:hover, span.Tabs_TabOn {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #333;
    padding: 0px 10px 0px 10px;
    background: transparent;
}
.Tabs_TabBody {
    margin: 40px 0px 0px 0px;
    padding: 40px 0px;
    border: 1px solid #cccccc;
    _height: 1%;
    *display: inline-block;
}
.Tabs_Wrapper .small-search {
    width: 230px;
}
.Tabs_Wrapper .search-wrapper .small-search input.search {
    width: 199px;
}
.partner-content-wrapper .Tabs_Wrapper {
    margin: 0;
    margin-top: -35px;
    border: none;
    display: inline-block;
}
.partner-content-wrapper ul.Tabs_Header {
    padding-left: 0px;
    height: 35px;
}
.partner-content-wrapper .Tabs_TabBody {
    border: none;
}
.partner-sidebar-wrapper {
    margin-top: 75px;
}
.account-card .partner-sidebar-wrapper {
    margin-top: 25px;
}
.partners-download-doc-filter {
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #E5E6E7;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 8px 40px -8px #E5E6E7;
    -moz-box-shadow: 0 8px 40px -8px #E5E6E7;
    box-shadow: 0 8px 40px -8px #E5E6E7;
}
.partners-download-doc-filter input[type="checkbox"] {
    margin: 0px;
    line-height: normal;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 0;
}
.button-isotype {
    display: inline-block;
    padding: 1px 15px;
    background: #aaa;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: myriad-pro;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}
.button-isotype:hover {
    background-color: gray;
    color: #fff;
    text-decoration: none
}
.button-isotype.is-checked, .button-isotype:active {
    background-color: #c20
}
.button-isotype.is-checked {
    color: #fff
}
.button-isotype:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, .8)
}
.pagination a:link, .pagination a:visited {
    padding: 0px;
    margin-right: 3px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    min-width: 20px;
    box-sizing: border-box;
    background-color: #E6E6E6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    color: #808080;
}
.document-details {
    font-size: 12px;
}
.list-border {
    position: relative;
    padding-bottom: 15px;
}
.list-border:after {
    content: "";
    background: #E5E6E7;
    position: absolute;
    bottom: 0;
    height: 1px;
    margin: 0 auto;
    left: 110px;
    right: 0;
}
.sidebar-text {
    font-size: 12px;
}
.sidebar-separator {
    position: relative;
    padding-bottom: 20px;
}
.sidebar-separator:after {
    content: "";
    background: #E5E6E7;
    position: absolute;
    bottom: 0;
    height: 1px;
    margin: 0 auto;
    left: 0;
    width: 70px;
}
.sidebar-separator .partner-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}
.content-separator {
    position: relative;
    padding-bottom: 20px;
}
.content-separator:after {
    content: "";
    background: #E5E6E7;
    position: absolute;
    bottom: 0;
    height: 1px;
    margin: 0 auto;
    left: 0;
    width: 100%;
}
.info-desc {
    display: table;
    vertical-align: middle;
}
.info-icon {
    display: table-cell;
    vertical-align: middle;
}
.info-text {
    display: table-cell;
    vertical-align: middle;
}
.industries-list input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 0;
}
.industries-list .list-item {
    margin-bottom: 10px;
}
.link-helpers {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 12px 0;
    white-space: nowrap;
}
.link-helpers a {
    margin-left: 15px;
    color: #4D616A;
}
.link-helpers a:hover {
    color: #005580;
}
.collapse-title a {
display: block;
  padding: 10px;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px solid #E7E7E7;
  color: #333;
  -webkit-box-shadow: 0 8px 24px -17px #606264;
  -moz-box-shadow: 0 8px 24px -17px #606264;
  box-shadow: 0 8px 24px -17px #606264;
  margin-bottom: 40px;
}
.collapse-down, .collapse-up {
    float: right;
}
.collapse-title .collapse-down {
    display: inline-block;
}
.collapse-title.open .collapse-down {
    display: none;
}
.collapse-title .collapse-up {
    display: none;
}
.collapse-title.open .collapse-up {
    display: inline-block;
}
.orange {
  background-color: #EFDFB4;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}
.bordered {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}
.bordered tr th {
    border-left: 1px solid #ccc;
    border-top: none;
    border-bottom: 1px solid #ccc;
}
.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
.bordered td, .bordered th {
    border-top: 1px solid #ccc;
    padding: 15px 10px;
    text-align: left;    
}
.bordered th {
background: #AAA;
color: white;
font-weight: 400;
}
.bordered th.SortColumns_Sorted {
font-weight: 800;
}
.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}
.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;          
}
.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.v-separator {
    content: "";     
    display: block;     width: 0px;     
    height: 40px;     
    border-right: 1px solid rgba(190, 200, 204, 0.31);     
    border-left: 1px solid #BEC8CC;     padding: 0;     
    position: relative;     
    top: 15px;
}
.headshot {
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: auto;
    width: 56px;
}
.opportunity-container,
.quote-container {
    font-family: Arial, sans-serif;
    height: 70px;
    background-color: #f8f8f8;
    border: 1px solid #e2e1e1;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}
.opportunity-container > .row > div:first-child,
.quote-container > .row > div:first-child {
    width: 125px;
    height: 70px;
    line-height: 1.3;
    padding: 18px 0;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #e3e3e3; 
}
.opportunity-container > .row > .span8 .span1,
.quote-container > .row > .span8 .span1 {
    width: 50px;
    margin-left: 10px;
    margin-top: 15px;
}
.opportunity-container > .row > .span8 .span2,
.quote-container > .row > .span8 .span2 {
    width: 90px;
    margin-left: 10px;
    margin-top: 15px;
}
.quote-container > .row > .span8 .span2 {
    width: 100px;
}
.opportunity-container .text-label,
.quote-container .text-label{
    text-transform: uppercase;
    color: #78909c;
    font-size: 10px;
    font-weight: 700;
}
.opportunity-container .text-value,
.quote-container .text-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #263238;
    font-size: 12px;
    font-weight: 400;
}
.text-highlight {
    font-size: 22px;
    color: #7F8A90;
}
@media (max-width:400px){
    .opportunity-container {
        height:100%;
        padding-bottom: 20px;
    }

    .opportunity-container > .row > div:first-child{
        border-right:none;
        text-align:center;
        width: auto;
    }

    .partner-cover-details-wrapper{
        margin-left:20px;
    }

    .partner-content-wrapper{
        padding: 20px;
    }

    .link-helpers, .sidebar-text {
        display:none;
    }

    .sidebar-separator{
        padding-bottom:60px
    }

    .content-separator .pull-right{
        margin-left:20px;
    }

    div.Tabs_TabOff, li.Tabs_TabOff,
    div.Tabs_TabOn, li.Tabs_TabOn
    {
          width: 24%;
          overflow: hidden;
          margin-right: 2px;
          padding: 3px 0 0 0;
          font-size: 10px;
          text-align: center;
          height: 45px;
    }

    span.Tabs_TabOff, a.Tabs_TabOff,
    span.Tabs_TabOn, a.Tabs_TabOn,
    a.Tabs_TabOff:link, a.Tabs_TabOff:visited,
    a.Tabs_TabOn:link, a.Tabs_TabOn:visited{
       white-space: normal;
       padding: 0 5px; 
    }     

    .Tabs_TabBody{
        padding: 20px 0 0 0;
    }

    .Tabs_TabBody[data_url="#company-info"] .span3,
    .Tabs_TabBody[data_url="#company-info"] .span10 .span4{
        display: inline-block;
        width: 50%;
        margin-top: 30px;
    }

    .Tabs_TabBody[data_url="#company-info"] .row .span4{
        margin-top: 30px;
    }

    .partner-content-wrapper ul.Tabs_Header{
        height:45px;
        width: 94%;
    }

    .bordered th {
        font-size:9px;
        padding: 0 2px;
    }

    .Tabs_Wrapper .search-wrapper .small-search input.search{
        width: 180px;
        margin-right: 0;
    }

    div[data_url="#opportunities"] .bordered tbody{
        font-size:9px;
    }
    
    div[data_url="#opportunities"] .bordered td, .bordered th{
        padding: 0 2px;
    }

    /*members*/
    div[data_url="#members"] .content-separator .pull-right{
        float:none;
    }

}

@media (max-width: 979px) and (min-width: 768px) {
    .opportunity-container > .row > .span8 {
        width: 450px;
    }
    
    .opportunity-container > .row > .span8 .span1 {
        width: 50px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .opportunity-container > .row > .span8 .span2 {
        width: 70px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .opportunity-container > .row > .span8 .span2:last-child {
        width: 140px;
    }
    
    .opportunity-container > .row > .span8 .span2:last-child .text-label {
        display: none;
    }
    
    .opportunity-container > .row > .span8 .span2:last-child .text-value {
        width: 100% !important;
    }
}

/* PartnersApplication Theme */
/*
    How to generate a theme for your company: 
    
        1 - Go to http://www.outsystems.com/goto/themegenerator
        2 - Copy the generated CSS
        3 - Paste it here

*/
/* OVERRIDE OF HOME STYLES
* {
    font-family: Arial, sans-serif;
    color: #333;
}
*/
body {
    background: transparent;
}
/* OVERRIDE OF HOME STYLES
a,
a:link,
a.Navigation {
    font-size: 12px;
    color: #08C;
}
*/
.Heading1, .Heading2, .Heading3, .Heading4, .Heading5 {
    font-family: Myriad-Pro, Arial, sans-serif;
    font-weight: 600;
    line-height: 24px;
}

.Heading3,
div.Heading3 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 32px;
}

.Heading4 {
    font-size: 24px;
    margin-top: 65px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CDCDCD;
}

.Form .Section > div > div {
    margin-top: 20px;
}

.Form_label {
    color: #606061;
    font-family: Arial;
    font-size: 18px;    
}

.Form input[type=text],
.Form input[type=number] {
    width: 100%;
    height: 38px;
    color: #555;
    background-color: #F7F7F7;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(190, 190, 190, 0.5);
    padding: 5px;
    box-sizing: border-box;
}

.Form input[type=number] {
    line-height: 1.43;
}

.Form textarea {
    width: 100%;
    color: #555;
    background-color: #F7F7F7;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(190, 190, 190, 0.5);
    padding: 5px;
    box-sizing: border-box;
    resize: none;
}

a.osbtn-red {
    width: 150px;
    display: inline-block;
    font-family: 'Myriad-Pro', Arial, sans-serif;
    padding: 10px 20px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: inherit;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    color: #FFF !important;
    font-size: 18px;
    background-color: #c20;
    background-image: -moz-linear-gradient(top,#C20,#AC1E01);
    background-image: -ms-linear-gradient(top,#C20,#AC1E01);
    background-image: -o-linear-gradient(top,#C20,#AC1E01);
    background-image: -webkit-gradient(linear,center top,center bottom,from(#C20),to(#AC1E01));
    background-image: -webkit-linear-gradient(top,#C20,#AC1E01);
    background-image: linear-gradient(top,#C20,#AC1E01);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a.osbtn-red:hover {
    text-decoration: none;
}

.Button.mktoButton {
  border: 0!important;
  display: inline-block!important;
  font-family: 'myriad-pro',Arial,sans-serif!important;
  padding: 10px 20px!important;
  margin-bottom: 0!important;
  font-weight: 400!important;
  line-height: inherit!important;
  text-align: center!important;
  white-space: nowrap!important;
  vertical-align: middle!important;
  cursor: pointer!important;
  margin: 0!important;
  color: #fff!important;
  font-size: 18px!important;
  background-color: #08c!important;
  background-image: -moz-linear-gradient(top,#08c,#06a)!important;
  background-image: -ms-linear-gradient(top,#08c,#06a)!important;
  background-image: -o-linear-gradient(top,#08c,#06a)!important;
  background-image: -webkit-gradient(linear,center top,center bottom,from(#08c),to(#06a))!important;
  background-image: -webkit-linear-gradient(top,#08c,#06a)!important;
  background-image: linear-gradient(top,#08c,#06a)!important;
  -moz-border-radius: 5px!important;
  -webkit-border-radius: 5px!important;
  border-radius: 5px!important;
}

input.Not_Valid,
textarea.Not_Valid,
select.Not_Valid {
    border: 1px solid #BF1601 !important;
}

.Text_Error .fa {
    color: #C7331F;
}
/* CommunityFlow/Members WebScreen */
@media (max-width:400px){

    .MemberPhoto{
      display: table-cell;
      width: 30%;
    }
    .MemberName{
      display: table-cell;
      width: 60%;
    }
    .MemberRoles{
      display: inline-block;
      width: 70%;
    }
    .MemberTrash{
      width: 65px;
      float: right;
    }
    .headshot{
      margin-top: 20px;
    }
    .v-separator.pull-right {
        display:none;
    }
}
/* CommunityFlow/PartnerNetwork WebScreen */
@media (max-width: 400px){

    .HeroSection {
        margin-left:20px;
        margin-right:20px;
        width:auto;
    }

    .HeroSection .HeroImg{
        text-align:center;
    }
    
    .account-card {
        margin:20px;
    }

    .small-search{
        width:100%;
        float:right;
    }
    
    .search-wrapper .small-search input.search{
        margin-right:0;
        width:170px;
    }
}
/* FormFlow/PartnerContact WebScreen */
.MainPopup {
    background: #e6e6e6;
}

.Heading1 {
    font-weight: 400;
}

.PopupFormContainer {
    width: 400px;
    text-align: center;
}

.PopupFormContainer .FormContainer > div {
    margin-top: 20px;
}
/* PDFFlow/PDFPreview WebScreen */
/* BREAKS - ALL
body {
    font-size: 16px
}
 */

.Heading4 {
    margin-bottom: 20px;
}